## Reference
https://stackoverflow.com/questions/14325654/how-to-use-python-markdown-to-process-a-file-that-is-read-in
https://stackoverflow.com/questions/3207219/how-do-i-list-all-files-of-a-directory
https://stackoverflow.com/questions/14560863/python-join-with-newline
https://stackoverflow.com/questions/743806/how-to-split-a-string-into-a-list
https://stackabuse.com/reading-and-writing-lists-to-a-file-in-python/
https://stackoverflow.com/questions/6996603/delete-a-file-or-folder
https://stackoverflow.com/questions/5214578/python-print-string-to-text-file
https://stackoverflow.com/questions/89228/calling-an-external-command-in-python

In [1]:
import os #to run commands in command prompt in python
import glob # to get paths to files in a folder
import shutil #copy files

In [2]:
def create_dir(directory):
    if not os.path.exists(directory):
        print('Creating Directory '+directory)
        os.makedirs(directory)

folder structure

clean_md_file.ipynb
project_03_01.ipynb
data>>
git_page>>project_03_01.md
git_page>>images>>movie_data_eda>>

In [3]:
#inputs
#enter the ipython notebook name
#notebook_name='project_03_01.ipynb'
#markdown_name='project_03_01.md'
#images_folder_name=markdown_name.replace('.md','')+'_files' #remove the .md and add _files
#subfolder_name='project_03_01' # images/'subfolder_name'/ -- this will contain all images

#data_analyst_nanodegree_term_02_project_01_perceptual_phenomenon_python_004
#data_analyst_nanodegree_term_02_project_03_wrangle_act_v2_0
notebook_name='wrangle_act_v2_0.ipynb'
markdown_name='data_analyst_nanodegree_term_02_project_03_wrangle_act_v2_0.md'
images_folder_name=markdown_name.replace('.md','')+'_files' #remove the .md and add _files
subfolder_name='data_analyst_nanodegree_term_02_project_03_wrangle_act_v2_0' # images/'subfolder_name'/ -- this will contain all images




print(notebook_name) # name of jupyter notebook
print(markdown_name) #md file made during jupyter to md conversion, moved to git_page folder and deleted from root
print(images_folder_name) #default folder made when generating md file - later deleted
print(subfolder_name) #name of the subfolder inside images subfolder

wrangle_act_v2_0.ipynb
data_analyst_nanodegree_term_02_project_03_wrangle_act_v2_0.md
data_analyst_nanodegree_term_02_project_03_wrangle_act_v2_0_files
data_analyst_nanodegree_term_02_project_03_wrangle_act_v2_0

In [4]:
#create the directory structure
create_dir('git_page/images/'+subfolder_name) #subfolder for all project images

Creating Directory git_page/images/data_analyst_nanodegree_term_02_project_03_wrangle_act_v2_0

In [5]:
#!jupyter nbconvert project_03_01.ipynb --to markdown --output test.md
## first create a string using the notebook name and markdown name
string_01='jupyter nbconvert '+ notebook_name + ' --to markdown --output '+ markdown_name
#string_01='jupyter nbconvert '+ notebook_name + ' --to markdown' 

print(string_01)

jupyter nbconvert wrangle_act_v2_0.ipynb --to markdown --output data_analyst_nanodegree_term_02_project_03_wrangle_act_v2_0.md

In [6]:
#run the string_01 in command prompt to generate the markdown files
os.system(string_01)

0

In [7]:
#get a list of only image names in sub directory
#image_links = [f for f in glob.glob("markdown\*.png")]

images_path=images_folder_name+'\*.png'
image_links = [f for f in glob.glob(images_path)]

image_links

[]

In [8]:
#from the image_links, only save the image names
#save just the image names to a list
image_names=[]
for i in image_links:
    #image_names.append(i.replace('markdown\\',''))
    image_names.append(i.replace(images_folder_name+'\\',''))
    
image_names

[]

In [9]:
# Open the file with read only permit
f = open(markdown_name, "r")
# use readlines to read all lines in the file
# The variable "lines" is a list containing all lines in the file
lines = f.readlines()
# close the file after reading the lines.
f.close()

lines

['\n',
 '# Wrangle Report\n',
 '\n',
 '   \n',
 "**Table of Contents**<a id='Top'><a>   \n",
 '[Reference](#Reference)  \n',
 '[A. Data Gathering Efforts](#A)  \n',
 '[B. Data Access Issues](#B)  \n',
 '[C. Data Cleaning](#C)\n',
 '\n',
 '\n',
 '\n',
 "<a id='Reference'></a>\n",
 '[Top](#Top)\n',
 '# Reference \n',
 '\n',
 '\n',
 'https://stackoverflow.com/questions/32400867/pandas-read-csv-from-url  \n',
 'https://developer.twitter.com/en/docs/tweets/data-dictionary/overview/tweet-object3\n',
 'https://stackoverflow.com/questions/6159900/correct-way-to-write-line-to-file\n',
 'https://stackoverflow.com/questions/4706499/how-do-you-append-to-a-file\n',
 'https://stackoverflow.com/questions/41001973/python-3-5-1-nameerror-name-json-is-not-defined\n',
 'https://stackoverflow.com/questions/27900451/convert-tweepy-status-object-into-json\n',
 'https://gist.github.com/yanofsky/5436496\n',
 'https://stackoverflow.com/questions/11716380/python-beautifulsoup-extract-text-from-anchor-tag\n',
 'https://stackoverflow.com/questions/30522724/take-multiple-lists-into-dataframe\n',
 'https://stackoverflow.com/questions/15247628/how-to-find-duplicate-names-using-pandas  \n',
 'https://stackoverflow.com/questions/466345/converting-string-into-datetime\n',
 'https://stackoverflow.com/questions/33034559/how-to-remove-last-the-two-digits-in-a-column-that-is-of-integer-type\n',
 'https://stackoverflow.com/questions/25146121/extracting-just-month-and-year-from-pandas-datetime-column-python\n',
 'https://stackoverflow.com/questions/20250771/remap-values-in-pandas-column-with-a-dict\n',
 'https://stackoverflow.com/questions/39092067/pandas-dataframe-convert-column-type-to-string-or-categorical\n',
 'https://stackoverflow.com/questions/18792918/combine-two-pandas-data-frames-join-on-a-common-column\n',
 '\n',
 '\n',
 '```python\n',
 '#import libraries\n',
 'import requests # reading files programmatically\n',
 'import os # manipulating file paths\n',
 'import pandas as pd\n',
 'import numpy as np\n',
 'import tweepy #read tweeter data -- pip install tweepy\n',
 '#import simplejson as json # to make json dumps --  pip install simplejson\n',
 'import json # to create json objects \n',
 'import time # to calculate the execution times of functions\n',
 'from datetime import datetime\n',
 '\n',
 '# set seed for sampling\n',
 'np.random.seed(27)\n',
 '\n',
 '```\n',
 '\n',
 "<a id='A'></a>\n",
 '[Top](#Top)\n',
 '# A. Data Gathering Efforts \n',
 '\n',
 '## 1. Downloading the twitter-archive-enhanced.csv\n',
 '\n',
 'The twitter-archive-enhanced.csv was saved to the local directory by clicking the following link https://d17h27t6h515a5.cloudfront.net/topher/2017/August/59a4e958_twitter-archive-enhanced/twitter-archive-enhanced.csv \n',
 'and saving the corresponding csv file in the local working directory. \n',
 '\n',
 '\n',
 '```python\n',
 '# read the twitter-archive-enhanced.csv file intp a pandas dataframe\n',
 "df_twitter_archive=pd.read_csv('twitter-archive-enhanced.csv')\n",
 '```\n',
 '\n',
 '\n',
 '```python\n',
 '# examine the dataframe\n',
 'df_twitter_archive.head(2)\n',
 '```\n',
 '\n',
 '\n',
 '\n',
 '\n',
 '<div>\n',
 '<style scoped>\n',
 '    .dataframe tbody tr th:only-of-type {\n',
 '        vertical-align: middle;\n',
 '    }\n',
 '\n',
 '    .dataframe tbody tr th {\n',
 '        vertical-align: top;\n',
 '    }\n',
 '\n',
 '    .dataframe thead th {\n',
 '        text-align: right;\n',
 '    }\n',
 '</style>\n',
 '<table border="1" class="dataframe">\n',
 '  <thead>\n',
 '    <tr style="text-align: right;">\n',
 '      <th></th>\n',
 '      <th>tweet_id</th>\n',
 '      <th>in_reply_to_status_id</th>\n',
 '      <th>in_reply_to_user_id</th>\n',
 '      <th>timestamp</th>\n',
 '      <th>source</th>\n',
 '      <th>text</th>\n',
 '      <th>retweeted_status_id</th>\n',
 '      <th>retweeted_status_user_id</th>\n',
 '      <th>retweeted_status_timestamp</th>\n',
 '      <th>expanded_urls</th>\n',
 '      <th>rating_numerator</th>\n',
 '      <th>rating_denominator</th>\n',
 '      <th>name</th>\n',
 '      <th>doggo</th>\n',
 '      <th>floofer</th>\n',
 '      <th>pupper</th>\n',
 '      <th>puppo</th>\n',
 '    </tr>\n',
 '  </thead>\n',
 '  <tbody>\n',
 '    <tr>\n',
 '      <th>0</th>\n',
 '      <td>892420643555336193</td>\n',
 '      <td>NaN</td>\n',
 '      <td>NaN</td>\n',
 '      <td>2017-08-01 16:23:56 +0000</td>\n',
 '      <td>&lt;a href="http://twitter.com/download/iphone" r...</td>\n',
 "      <td>This is Phineas. He's a mystical boy. Only eve...</td>\n",
 '      <td>NaN</td>\n',
 '      <td>NaN</td>\n',
 '      <td>NaN</td>\n',
 '      <td>https://twitter.com/dog_rates/status/892420643...</td>\n',
 '      <td>13</td>\n',
 '      <td>10</td>\n',
 '      <td>Phineas</td>\n',
 '      <td>None</td>\n',
 '      <td>None</td>\n',
 '      <td>None</td>\n',
 '      <td>None</td>\n',
 '    </tr>\n',
 '    <tr>\n',
 '      <th>1</th>\n',
 '      <td>892177421306343426</td>\n',
 '      <td>NaN</td>\n',
 '      <td>NaN</td>\n',
 '      <td>2017-08-01 00:17:27 +0000</td>\n',
 '      <td>&lt;a href="http://twitter.com/download/iphone" r...</td>\n',
 "      <td>This is Tilly. She's just checking pup on you....</td>\n",
 '      <td>NaN</td>\n',
 '      <td>NaN</td>\n',
 '      <td>NaN</td>\n',
 '      <td>https://twitter.com/dog_rates/status/892177421...</td>\n',
 '      <td>13</td>\n',
 '      <td>10</td>\n',
 '      <td>Tilly</td>\n',
 '      <td>None</td>\n',
 '      <td>None</td>\n',
 '      <td>None</td>\n',
 '      <td>None</td>\n',
 '    </tr>\n',
 '  </tbody>\n',
 '</table>\n',
 '</div>\n',
 '\n',
 '\n',
 '\n',
 '\n',
 '```python\n',
 '# examine the dataframe structure\n',
 'df_twitter_archive.info()\n',
 '```\n',
 '\n',
 "    <class 'pandas.core.frame.DataFrame'>\n",
 '    RangeIndex: 2356 entries, 0 to 2355\n',
 '    Data columns (total 17 columns):\n',
 '    tweet_id                      2356 non-null int64\n',
 '    in_reply_to_status_id         78 non-null float64\n',
 '    in_reply_to_user_id           78 non-null float64\n',
 '    timestamp                     2356 non-null object\n',
 '    source                        2356 non-null object\n',
 '    text                          2356 non-null object\n',
 '    retweeted_status_id           181 non-null float64\n',
 '    retweeted_status_user_id      181 non-null float64\n',
 '    retweeted_status_timestamp    181 non-null object\n',
 '    expanded_urls                 2297 non-null object\n',
 '    rating_numerator              2356 non-null int64\n',
 '    rating_denominator            2356 non-null int64\n',
 '    name                          2356 non-null object\n',
 '    doggo                         2356 non-null object\n',
 '    floofer                       2356 non-null object\n',
 '    pupper                        2356 non-null object\n',
 '    puppo                         2356 non-null object\n',
 '    dtypes: float64(4), int64(3), object(10)\n',
 '    memory usage: 313.0+ KB\n',
 '    \n',
 '\n',
 '## Observation\n',
 'The df_twitter_archive dataframe has 17 variables and 2356 observations. Some of the variables have missing values.\n',
 '\n',
 '\n',
 '```python\n',
 '\n',
 '```\n',
 '\n',
 '## 2. Downloading programmatically the image_predictions.tsv file\n',
 '\n',
 'The image_predictions.tsv was programmatically downloaded from https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv using the requests funciton.\n',
 '\n',
 '\n',
 '```python\n',
 '# programmatically download the image_predictions.tsv file\n',
 "url='https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'\n",
 'response=requests.get(url) # saves the file in the memory\n',
 '\n',
 '# view the file in the memory\n',
 '# response.content\n',
 '\n',
 '# create the file name by truncating the file name from the end of the url\n',
 "file_name=url.split('/')[-1] #'image-predictions.tsv'\n",
 '\n',
 '# write the tsv file to the working directory \n',
 "with open(file_name, mode='wb') as file:\n",
 '    file.write(response.content)\n',
 '    \n',
 '```\n',
 '\n',
 '\n',
 '```python\n',
 '# read the image-predictions.tsv file into a pandas file\n',
 "df_image_predictions=pd.read_csv('image-predictions.tsv', sep = '\\t', encoding = 'utf-8')\n",
 '```\n',
 '\n',
 '\n',
 '```python\n',
 '# examine the image_predictions_df dataframe\n',
 'df_image_predictions.head(2)\n',
 '```\n',
 '\n',
 '\n',
 '\n',
 '\n',
 '<div>\n',
 '<style scoped>\n',
 '    .dataframe tbody tr th:only-of-type {\n',
 '        vertical-align: middle;\n',
 '    }\n',
 '\n',
 '    .dataframe tbody tr th {\n',
 '        vertical-align: top;\n',
 '    }\n',
 '\n',
 '    .dataframe thead th {\n',
 '        text-align: right;\n',
 '    }\n',
 '</style>\n',
 '<table border="1" class="dataframe">\n',
 '  <thead>\n',
 '    <tr style="text-align: right;">\n',
 '      <th></th>\n',
 '      <th>tweet_id</th>\n',
 '      <th>jpg_url</th>\n',
 '      <th>img_num</th>\n',
 '      <th>p1</th>\n',
 '      <th>p1_conf</th>\n',
 '      <th>p1_dog</th>\n',
 '      <th>p2</th>\n',
 '      <th>p2_conf</th>\n',
 '      <th>p2_dog</th>\n',
 '      <th>p3</th>\n',
 '      <th>p3_conf</th>\n',
 '      <th>p3_dog</th>\n',
 '    </tr>\n',
 '  </thead>\n',
 '  <tbody>\n',
 '    <tr>\n',
 '      <th>0</th>\n',
 '      <td>666020888022790149</td>\n',
 '      <td>https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg</td>\n',
 '      <td>1</td>\n',
 '      <td>Welsh_springer_spaniel</td>\n',
 '      <td>0.465074</td>\n',
 '      <td>True</td>\n',
 '      <td>collie</td>\n',
 '      <td>0.156665</td>\n',
 '      <td>True</td>\n',
 '      <td>Shetland_sheepdog</td>\n',
 '      <td>0.061428</td>\n',
 '      <td>True</td>\n',
 '    </tr>\n',
 '    <tr>\n',
 '      <th>1</th>\n',
 '      <td>666029285002620928</td>\n',
 '      <td>https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg</td>\n',
 '      <td>1</td>\n',
 '      <td>redbone</td>\n',
 '      <td>0.506826</td>\n',
 '      <td>True</td>\n',
 '      <td>miniature_pinscher</td>\n',
 '      <td>0.074192</td>\n',
 '      <td>True</td>\n',
 '      <td>Rhodesian_ridgeback</td>\n',
 '      <td>0.072010</td>\n',
 '      <td>True</td>\n',
 '    </tr>\n',
 '  </tbody>\n',
 '</table>\n',
 '</div>\n',
 '\n',
 '\n',
 '\n',
 '\n',
 '```python\n',
 '# examine the structure of the df_image_predictions dataframe\n',
 'df_image_predictions.info()\n',
 '```\n',
 '\n',
 "    <class 'pandas.core.frame.DataFrame'>\n",
 '    RangeIndex: 2075 entries, 0 to 2074\n',
 '    Data columns (total 12 columns):\n',
 '    tweet_id    2075 non-null int64\n',
 '    jpg_url     2075 non-null object\n',
 '    img_num     2075 non-null int64\n',
 '    p1          2075 non-null object\n',
 '    p1_conf     2075 non-null float64\n',
 '    p1_dog      2075 non-null bool\n',
 '    p2          2075 non-null object\n',
 '    p2_conf     2075 non-null float64\n',
 '    p2_dog      2075 non-null bool\n',
 '    p3          2075 non-null object\n',
 '    p3_conf     2075 non-null float64\n',
 '    p3_dog      2075 non-null bool\n',
 '    dtypes: bool(3), float64(3), int64(2), object(4)\n',
 '    memory usage: 152.1+ KB\n',
 '    \n',
 '\n',
 '## Observation\n',
 '\n',
 'The df_image_predictions has 12 variables and 2075 observations. The are no missing values in the dataframe.\n',
 '\n',
 '\n',
 '```python\n',
 '\n',
 '```\n',
 '\n',
 '## 3. Downloading Twitter data via Twitter API and tweepy library\n',
 '\n',
 '\n',
 '```python\n',
 '## set tweet consumer and access key >>> replace the ### with actual keys\n',
 "consumer_key = 'Yn71UCiC2MdIHkBalOBc08yMO'\n",
 "consumer_secret = 'K7CAtE6njCkEA3trt592jJEBDRa0a6OkZsoV6MsdkM8BLWPSCl'\n",
 "access_token = '108732090-QR9V8gfQGTPu6tJBzNkINGhKjCTMh0vhuOziyoe3'\n",
 "access_secret = 'HsALvm8Y5qG77fTMrfGeWjVYZY6DnupdoZu4FSBnaUmk2'\n",
 '\n',
 'auth = tweepy.OAuthHandler(consumer_key, consumer_secret)\n',
 'auth.set_access_token(access_token, access_secret)\n',
 '\n',
 '# use jsonparser to make json readable content, create json dumps and query json objects\n',
 '# wait_on_rate_limit = True , allows the program to wait during timeouts \n',
 '# wait_on_rate_limit_notify = True, writes to screen when waiting\n',
 'api = tweepy.API(auth,parser=tweepy.parsers.JSONParser(),wait_on_rate_limit = True, wait_on_rate_limit_notify = True)\n',
 '```\n',
 '\n',
 '\n',
 '```python\n',
 '# function to append file line by line\n',
 '# The function was adapted from https://stackoverflow.com/questions/4706499/how-do-you-append-to-a-file\n',
 '# input: the function takes a filename string and text\n',
 '# process: the function opens a file and adds the text in append mode\n',
 '# out: none\n',
 'def FileSave(filename,content):\n',
 '    with open(filename, "a") as myfile:\n',
 '        myfile.write(content)\n',
 '```\n',
 '\n',
 '\n',
 '```python\n',
 '# input: the function takes a list of tweet ids and a filename\n',
 '# process: the function downloads tweets corresponding to a tweet ids and adds it to a file\n',
 '# out: the function prints out the time taken to download the tweets, prints the error msgs and\n',
 '#      returns a list of ids that could not be downloaded\n',
 '\n',
 'def download_tweets(id_list,filename):\n',
 '    \n',
 '    # set the start time\n',
 '    start_time = time.time()\n',
 '\n',
 '    unloaded_tweet_ids=[]\n',
 '    counter=0\n',
 '    for i in id_list:\n',
 '        try:\n',
 "            #print(counter,' >> Tweet id: ',i)\n",
 "            tweet=api.get_status(i,tweet_mode='extended')\n",
 "            FileSave(filename,json.dumps(tweet)+'\\n')\n",
 '            counter=counter+1\n',
 '            \n',
 '        except Exception as download_error_msg:\n',
 "            print(counter,' >> Tweet id: ',i)\n",
 '            print(download_error_msg)\n',
 '            unloaded_tweet_ids.append(i)\n',
 '            counter=counter+1\n',
 '\n',
 '            \n',
 '    #print unloaded tweeter ids\n',
 "    print('\\n \\nTotal number of Tweeter ids :',len(id_list))\n",
 "    print('The following ',len(unloaded_tweet_ids), 'tweet ids could not be downloaded for various reasons: ')\n",
 '    print(unloaded_tweet_ids)\n',
 '    \n',
 '    # set the end time\n',
 '    end_time = time.time()\n',
 '\n',
 '    # print the execution time\n',
 "    print('\\n \\nThe download process took: ', (end_time - start_time)/60, ' minutes')\n",
 '    \n',
 '    return(unloaded_tweet_ids)\n',
 '```\n',
 '\n',
 '\n',
 '```python\n',
 '# set the tweet ids that will be using in the api to access the actual data\n',
 "tweet_id=df_twitter_archive['tweet_id']\n",
 '\n',
 '# download tweets by passing the tweet_id list and tweet_json.txt filename\n',
 '# save the results of unloaded ids so they can be attempted again\n',
 "error_ids_01=download_tweets(tweet_id,'tweet_json.txt')\n",
 '```\n',
 '\n',
 '    19  >> Tweet id:  888202515573088257\n',
 "    [{'code': 144, 'message': 'No status found with that ID.'}]\n",
 '    95  >> Tweet id:  873697596434513921\n',
 "    [{'code': 144, 'message': 'No status found with that ID.'}]\n",
 '    118  >> Tweet id:  869988702071779329\n',
 "    [{'code': 144, 'message': 'No status found with that ID.'}]\n",
 '    132  >> Tweet id:  866816280283807744\n',
 "    [{'code': 144, 'message': 'No status found with that ID.'}]\n",
 '    155  >> Tweet id:  861769973181624320\n',
 "    [{'code': 144, 'message': 'No status found with that ID.'}]\n",
 '    247  >> Tweet id:  845459076796616705\n',
 "    [{'code': 144, 'message': 'No status found with that ID.'}]\n",
 '    260  >> Tweet id:  842892208864923648\n',
 "    [{'code': 144, 'message': 'No status found with that ID.'}]\n",
 '    298  >> Tweet id:  837012587749474308\n',
 "    [{'code': 144, 'message': 'No status found with that ID.'}]\n",
 '    382  >> Tweet id:  827228250799742977\n',
 "    [{'code': 144, 'message': 'No status found with that ID.'}]\n",
 '    566  >> Tweet id:  802247111496568832\n',
 "    [{'code': 144, 'message': 'No status found with that ID.'}]\n",
 '    784  >> Tweet id:  775096608509886464\n',
 "    [{'code': 144, 'message': 'No status found with that ID.'}]\n",
 '    815  >> Tweet id:  771004394259247104\n',
 "    [{'code': 179, 'message': 'Sorry, you are not authorized to see this status.'}]\n",
 '    818  >> Tweet id:  770743923962707968\n',
 "    [{'code': 144, 'message': 'No status found with that ID.'}]\n",
 '    \n',
 '\n',
 '    Rate limit reached. Sleeping for: 732\n',
 '    \n',
 '\n',
 '    932  >> Tweet id:  754011816964026368\n',
 "    [{'code': 144, 'message': 'No status found with that ID.'}]\n",
 '    \n',
 '\n',
 '    Rate limit reached. Sleeping for: 728\n',
 '    \n',
 '\n',
 '    \n',
 '     \n',
 '    Total number of Tweeter ids : 2356\n',
 '    The following  14 tweet ids could not be downloaded for various reasons: \n',
 '    [888202515573088257, 873697596434513921, 869988702071779329, 866816280283807744, 861769973181624320, 845459076796616705, 842892208864923648, 837012587749474308, 827228250799742977, 802247111496568832, 775096608509886464, 771004394259247104, 770743923962707968, 754011816964026368]\n',
 '    \n',
 '     \n',
 '    The download process took:  31.737418989340465  minutes\n',
 '    \n',
 '\n',
 '\n',
 '```python\n',
 '# try to download the tweet contents corresponding the error tweets\n',
 "error_ids_02=download_tweets(error_ids_01,'tweet_json.txt')\n",
 '```\n',
 '\n',
 '    0  >> Tweet id:  888202515573088257\n',
 "    [{'code': 144, 'message': 'No status found with that ID.'}]\n",
 '    1  >> Tweet id:  873697596434513921\n',
 "    [{'code': 144, 'message': 'No status found with that ID.'}]\n",
 '    2  >> Tweet id:  869988702071779329\n',
 "    [{'code': 144, 'message': 'No status found with that ID.'}]\n",
 '    3  >> Tweet id:  866816280283807744\n',
 "    [{'code': 144, 'message': 'No status found with that ID.'}]\n",
 '    4  >> Tweet id:  861769973181624320\n',
 "    [{'code': 144, 'message': 'No status found with that ID.'}]\n",
 '    5  >> Tweet id:  845459076796616705\n',
 "    [{'code': 144, 'message': 'No status found with that ID.'}]\n",
 '    6  >> Tweet id:  842892208864923648\n',
 "    [{'code': 144, 'message': 'No status found with that ID.'}]\n",
 '    7  >> Tweet id:  837012587749474308\n',
 "    [{'code': 144, 'message': 'No status found with that ID.'}]\n",
 '    8  >> Tweet id:  827228250799742977\n',
 "    [{'code': 144, 'message': 'No status found with that ID.'}]\n",
 '    9  >> Tweet id:  802247111496568832\n',
 "    [{'code': 144, 'message': 'No status found with that ID.'}]\n",
 '    10  >> Tweet id:  775096608509886464\n',
 "    [{'code': 144, 'message': 'No status found with that ID.'}]\n",
 '    11  >> Tweet id:  771004394259247104\n',
 "    [{'code': 179, 'message': 'Sorry, you are not authorized to see this status.'}]\n",
 '    12  >> Tweet id:  770743923962707968\n',
 "    [{'code': 144, 'message': 'No status found with that ID.'}]\n",
 '    13  >> Tweet id:  754011816964026368\n',
 "    [{'code': 144, 'message': 'No status found with that ID.'}]\n",
 '    \n',
 '     \n',
 '    Total number of Tweeter ids : 14\n',
 '    The following  14 tweet ids could not be downloaded for various reasons: \n',
 '    [888202515573088257, 873697596434513921, 869988702071779329, 866816280283807744, 861769973181624320, 845459076796616705, 842892208864923648, 837012587749474308, 827228250799742977, 802247111496568832, 775096608509886464, 771004394259247104, 770743923962707968, 754011816964026368]\n',
 '    \n',
 '     \n',
 '    The download process took:  0.03408433596293132  minutes\n',
 '    \n',
 '\n',
 '## Observation\n',
 '\n',
 "At this point, we have successfully saved each tweet's entire content in a tweet_json.txt file with each tweet in a new line.There were 13 tweets that could not be downloaded for various reasons.  \n",
 '\n',

In [10]:
#lines

In [11]:
#join the all the element sin lines list witn @@@ at the end of each line to perform operations
content_joined="@@@".join(lines)

#use this below to split at @@@ and then save it to a md file
#content_joined.split('@@@')

In [12]:
content_joined

'\n@@@# Wrangle Report\n@@@\n@@@   \n@@@**Table of Contents**<a id=\'Top\'><a>   \n@@@[Reference](#Reference)  \n@@@[A. Data Gathering Efforts](#A)  \n@@@[B. Data Access Issues](#B)  \n@@@[C. Data Cleaning](#C)\n@@@\n@@@\n@@@\n@@@<a id=\'Reference\'></a>\n@@@[Top](#Top)\n@@@# Reference \n@@@\n@@@\n@@@https://stackoverflow.com/questions/32400867/pandas-read-csv-from-url  \n@@@https://developer.twitter.com/en/docs/tweets/data-dictionary/overview/tweet-object3\n@@@https://stackoverflow.com/questions/6159900/correct-way-to-write-line-to-file\n@@@https://stackoverflow.com/questions/4706499/how-do-you-append-to-a-file\n@@@https://stackoverflow.com/questions/41001973/python-3-5-1-nameerror-name-json-is-not-defined\n@@@https://stackoverflow.com/questions/27900451/convert-tweepy-status-object-into-json\n@@@https://gist.github.com/yanofsky/5436496\n@@@https://stackoverflow.com/questions/11716380/python-beautifulsoup-extract-text-from-anchor-tag\n@@@https://stackoverflow.com/questions/30522724/take-multiple-lists-into-dataframe\n@@@https://stackoverflow.com/questions/15247628/how-to-find-duplicate-names-using-pandas  \n@@@https://stackoverflow.com/questions/466345/converting-string-into-datetime\n@@@https://stackoverflow.com/questions/33034559/how-to-remove-last-the-two-digits-in-a-column-that-is-of-integer-type\n@@@https://stackoverflow.com/questions/25146121/extracting-just-month-and-year-from-pandas-datetime-column-python\n@@@https://stackoverflow.com/questions/20250771/remap-values-in-pandas-column-with-a-dict\n@@@https://stackoverflow.com/questions/39092067/pandas-dataframe-convert-column-type-to-string-or-categorical\n@@@https://stackoverflow.com/questions/18792918/combine-two-pandas-data-frames-join-on-a-common-column\n@@@\n@@@\n@@@```python\n@@@#import libraries\n@@@import requests # reading files programmatically\n@@@import os # manipulating file paths\n@@@import pandas as pd\n@@@import numpy as np\n@@@import tweepy #read tweeter data -- pip install tweepy\n@@@#import simplejson as json # to make json dumps --  pip install simplejson\n@@@import json # to create json objects \n@@@import time # to calculate the execution times of functions\n@@@from datetime import datetime\n@@@\n@@@# set seed for sampling\n@@@np.random.seed(27)\n@@@\n@@@```\n@@@\n@@@<a id=\'A\'></a>\n@@@[Top](#Top)\n@@@# A. Data Gathering Efforts \n@@@\n@@@## 1. Downloading the twitter-archive-enhanced.csv\n@@@\n@@@The twitter-archive-enhanced.csv was saved to the local directory by clicking the following link https://d17h27t6h515a5.cloudfront.net/topher/2017/August/59a4e958_twitter-archive-enhanced/twitter-archive-enhanced.csv \n@@@and saving the corresponding csv file in the local working directory. \n@@@\n@@@\n@@@```python\n@@@# read the twitter-archive-enhanced.csv file intp a pandas dataframe\n@@@df_twitter_archive=pd.read_csv(\'twitter-archive-enhanced.csv\')\n@@@```\n@@@\n@@@\n@@@```python\n@@@# examine the dataframe\n@@@df_twitter_archive.head(2)\n@@@```\n@@@\n@@@\n@@@\n@@@\n@@@<div>\n@@@<style scoped>\n@@@    .dataframe tbody tr th:only-of-type {\n@@@        vertical-align: middle;\n@@@    }\n@@@\n@@@    .dataframe tbody tr th {\n@@@        vertical-align: top;\n@@@    }\n@@@\n@@@    .dataframe thead th {\n@@@        text-align: right;\n@@@    }\n@@@</style>\n@@@<table border="1" class="dataframe">\n@@@  <thead>\n@@@    <tr style="text-align: right;">\n@@@      <th></th>\n@@@      <th>tweet_id</th>\n@@@      <th>in_reply_to_status_id</th>\n@@@      <th>in_reply_to_user_id</th>\n@@@      <th>timestamp</th>\n@@@      <th>source</th>\n@@@      <th>text</th>\n@@@      <th>retweeted_status_id</th>\n@@@      <th>retweeted_status_user_id</th>\n@@@      <th>retweeted_status_timestamp</th>\n@@@      <th>expanded_urls</th>\n@@@      <th>rating_numerator</th>\n@@@      <th>rating_denominator</th>\n@@@      <th>name</th>\n@@@      <th>doggo</th>\n@@@      <th>floofer</th>\n@@@      <th>pupper</th>\n@@@      <th>puppo</th>\n@@@    </tr>\n@@@  </thead>\n@@@  <tbody>\n@@@    <tr>\n@@@      <th>0</th>\n@@@      <td>892420643555336193</td>\n@@@      <td>NaN</td>\n@@@      <td>NaN</td>\n@@@      <td>2017-08-01 16:23:56 +0000</td>\n@@@      <td>&lt;a href="http://twitter.com/download/iphone" r...</td>\n@@@      <td>This is Phineas. He\'s a mystical boy. Only eve...</td>\n@@@      <td>NaN</td>\n@@@      <td>NaN</td>\n@@@      <td>NaN</td>\n@@@      <td>https://twitter.com/dog_rates/status/892420643...</td>\n@@@      <td>13</td>\n@@@      <td>10</td>\n@@@      <td>Phineas</td>\n@@@      <td>None</td>\n@@@      <td>None</td>\n@@@      <td>None</td>\n@@@      <td>None</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>1</th>\n@@@      <td>892177421306343426</td>\n@@@      <td>NaN</td>\n@@@      <td>NaN</td>\n@@@      <td>2017-08-01 00:17:27 +0000</td>\n@@@      <td>&lt;a href="http://twitter.com/download/iphone" r...</td>\n@@@      <td>This is Tilly. She\'s just checking pup on you....</td>\n@@@      <td>NaN</td>\n@@@      <td>NaN</td>\n@@@      <td>NaN</td>\n@@@      <td>https://twitter.com/dog_rates/status/892177421...</td>\n@@@      <td>13</td>\n@@@      <td>10</td>\n@@@      <td>Tilly</td>\n@@@      <td>None</td>\n@@@      <td>None</td>\n@@@      <td>None</td>\n@@@      <td>None</td>\n@@@    </tr>\n@@@  </tbody>\n@@@</table>\n@@@</div>\n@@@\n@@@\n@@@\n@@@\n@@@```python\n@@@# examine the dataframe structure\n@@@df_twitter_archive.info()\n@@@```\n@@@\n@@@    <class \'pandas.core.frame.DataFrame\'>\n@@@    RangeIndex: 2356 entries, 0 to 2355\n@@@    Data columns (total 17 columns):\n@@@    tweet_id                      2356 non-null int64\n@@@    in_reply_to_status_id         78 non-null float64\n@@@    in_reply_to_user_id           78 non-null float64\n@@@    timestamp                     2356 non-null object\n@@@    source                        2356 non-null object\n@@@    text                          2356 non-null object\n@@@    retweeted_status_id           181 non-null float64\n@@@    retweeted_status_user_id      181 non-null float64\n@@@    retweeted_status_timestamp    181 non-null object\n@@@    expanded_urls                 2297 non-null object\n@@@    rating_numerator              2356 non-null int64\n@@@    rating_denominator            2356 non-null int64\n@@@    name                          2356 non-null object\n@@@    doggo                         2356 non-null object\n@@@    floofer                       2356 non-null object\n@@@    pupper                        2356 non-null object\n@@@    puppo                         2356 non-null object\n@@@    dtypes: float64(4), int64(3), object(10)\n@@@    memory usage: 313.0+ KB\n@@@    \n@@@\n@@@## Observation\n@@@The df_twitter_archive dataframe has 17 variables and 2356 observations. Some of the variables have missing values.\n@@@\n@@@\n@@@```python\n@@@\n@@@```\n@@@\n@@@## 2. Downloading programmatically the image_predictions.tsv file\n@@@\n@@@The image_predictions.tsv was programmatically downloaded from https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv using the requests funciton.\n@@@\n@@@\n@@@```python\n@@@# programmatically download the image_predictions.tsv file\n@@@url=\'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv\'\n@@@response=requests.get(url) # saves the file in the memory\n@@@\n@@@# view the file in the memory\n@@@# response.content\n@@@\n@@@# create the file name by truncating the file name from the end of the url\n@@@file_name=url.split(\'/\')[-1] #\'image-predictions.tsv\'\n@@@\n@@@# write the tsv file to the working directory \n@@@with open(file_name, mode=\'wb\') as file:\n@@@    file.write(response.content)\n@@@    \n@@@```\n@@@\n@@@\n@@@```python\n@@@# read the image-predictions.tsv file into a pandas file\n@@@df_image_predictions=pd.read_csv(\'image-predictions.tsv\', sep = \'\\t\', encoding = \'utf-8\')\n@@@```\n@@@\n@@@\n@@@```python\n@@@# examine the image_predictions_df dataframe\n@@@df_image_predictions.head(2)\n@@@```\n@@@\n@@@\n@@@\n@@@\n@@@<div>\n@@@<style scoped>\n@@@    .dataframe tbody tr th:only-of-type {\n@@@        vertical-align: middle;\n@@@    }\n@@@\n@@@    .dataframe tbody tr th {\n@@@        vertical-align: top;\n@@@    }\n@@@\n@@@    .dataframe thead th {\n@@@        text-align: right;\n@@@    }\n@@@</style>\n@@@<table border="1" class="dataframe">\n@@@  <thead>\n@@@    <tr style="text-align: right;">\n@@@      <th></th>\n@@@      <th>tweet_id</th>\n@@@      <th>jpg_url</th>\n@@@      <th>img_num</th>\n@@@      <th>p1</th>\n@@@      <th>p1_conf</th>\n@@@      <th>p1_dog</th>\n@@@      <th>p2</th>\n@@@      <th>p2_conf</th>\n@@@      <th>p2_dog</th>\n@@@      <th>p3</th>\n@@@      <th>p3_conf</th>\n@@@      <th>p3_dog</th>\n@@@    </tr>\n@@@  </thead>\n@@@  <tbody>\n@@@    <tr>\n@@@      <th>0</th>\n@@@      <td>666020888022790149</td>\n@@@      <td>https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg</td>\n@@@      <td>1</td>\n@@@      <td>Welsh_springer_spaniel</td>\n@@@      <td>0.465074</td>\n@@@      <td>True</td>\n@@@      <td>collie</td>\n@@@      <td>0.156665</td>\n@@@      <td>True</td>\n@@@      <td>Shetland_sheepdog</td>\n@@@      <td>0.061428</td>\n@@@      <td>True</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>1</th>\n@@@      <td>666029285002620928</td>\n@@@      <td>https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg</td>\n@@@      <td>1</td>\n@@@      <td>redbone</td>\n@@@      <td>0.506826</td>\n@@@      <td>True</td>\n@@@      <td>miniature_pinscher</td>\n@@@      <td>0.074192</td>\n@@@      <td>True</td>\n@@@      <td>Rhodesian_ridgeback</td>\n@@@      <td>0.072010</td>\n@@@      <td>True</td>\n@@@    </tr>\n@@@  </tbody>\n@@@</table>\n@@@</div>\n@@@\n@@@\n@@@\n@@@\n@@@```python\n@@@# examine the structure of the df_image_predictions dataframe\n@@@df_image_predictions.info()\n@@@```\n@@@\n@@@    <class \'pandas.core.frame.DataFrame\'>\n@@@    RangeIndex: 2075 entries, 0 to 2074\n@@@    Data columns (total 12 columns):\n@@@    tweet_id    2075 non-null int64\n@@@    jpg_url     2075 non-null object\n@@@    img_num     2075 non-null int64\n@@@    p1          2075 non-null object\n@@@    p1_conf     2075 non-null float64\n@@@    p1_dog      2075 non-null bool\n@@@    p2          2075 non-null object\n@@@    p2_conf     2075 non-null float64\n@@@    p2_dog      2075 non-null bool\n@@@    p3          2075 non-null object\n@@@    p3_conf     2075 non-null float64\n@@@    p3_dog      2075 non-null bool\n@@@    dtypes: bool(3), float64(3), int64(2), object(4)\n@@@    memory usage: 152.1+ KB\n@@@    \n@@@\n@@@## Observation\n@@@\n@@@The df_image_predictions has 12 variables and 2075 observations. The are no missing values in the dataframe.\n@@@\n@@@\n@@@```python\n@@@\n@@@```\n@@@\n@@@## 3. Downloading Twitter data via Twitter API and tweepy library\n@@@\n@@@\n@@@```python\n@@@## set tweet consumer and access key >>> replace the ### with actual keys\n@@@consumer_key = \'Yn71UCiC2MdIHkBalOBc08yMO\'\n@@@consumer_secret = \'K7CAtE6njCkEA3trt592jJEBDRa0a6OkZsoV6MsdkM8BLWPSCl\'\n@@@access_token = \'108732090-QR9V8gfQGTPu6tJBzNkINGhKjCTMh0vhuOziyoe3\'\n@@@access_secret = \'HsALvm8Y5qG77fTMrfGeWjVYZY6DnupdoZu4FSBnaUmk2\'\n@@@\n@@@auth = tweepy.OAuthHandler(consumer_key, consumer_secret)\n@@@auth.set_access_token(access_token, access_secret)\n@@@\n@@@# use jsonparser to make json readable content, create json dumps and query json objects\n@@@# wait_on_rate_limit = True , allows the program to wait during timeouts \n@@@# wait_on_rate_limit_notify = True, writes to screen when waiting\n@@@api = tweepy.API(auth,parser=tweepy.parsers.JSONParser(),wait_on_rate_limit = True, wait_on_rate_limit_notify = True)\n@@@```\n@@@\n@@@\n@@@```python\n@@@# function to append file line by line\n@@@# The function was adapted from https://stackoverflow.com/questions/4706499/how-do-you-append-to-a-file\n@@@# input: the function takes a filename string and text\n@@@# process: the function opens a file and adds the text in append mode\n@@@# out: none\n@@@def FileSave(filename,content):\n@@@    with open(filename, "a") as myfile:\n@@@        myfile.write(content)\n@@@```\n@@@\n@@@\n@@@```python\n@@@# input: the function takes a list of tweet ids and a filename\n@@@# process: the function downloads tweets corresponding to a tweet ids and adds it to a file\n@@@# out: the function prints out the time taken to download the tweets, prints the error msgs and\n@@@#      returns a list of ids that could not be downloaded\n@@@\n@@@def download_tweets(id_list,filename):\n@@@    \n@@@    # set the start time\n@@@    start_time = time.time()\n@@@\n@@@    unloaded_tweet_ids=[]\n@@@    counter=0\n@@@    for i in id_list:\n@@@        try:\n@@@            #print(counter,\' >> Tweet id: \',i)\n@@@            tweet=api.get_status(i,tweet_mode=\'extended\')\n@@@            FileSave(filename,json.dumps(tweet)+\'\\n\')\n@@@            counter=counter+1\n@@@            \n@@@        except Exception as download_error_msg:\n@@@            print(counter,\' >> Tweet id: \',i)\n@@@            print(download_error_msg)\n@@@            unloaded_tweet_ids.append(i)\n@@@            counter=counter+1\n@@@\n@@@            \n@@@    #print unloaded tweeter ids\n@@@    print(\'\\n \\nTotal number of Tweeter ids :\',len(id_list))\n@@@    print(\'The following \',len(unloaded_tweet_ids), \'tweet ids could not be downloaded for various reasons: \')\n@@@    print(unloaded_tweet_ids)\n@@@    \n@@@    # set the end time\n@@@    end_time = time.time()\n@@@\n@@@    # print the execution time\n@@@    print(\'\\n \\nThe download process took: \', (end_time - start_time)/60, \' minutes\')\n@@@    \n@@@    return(unloaded_tweet_ids)\n@@@```\n@@@\n@@@\n@@@```python\n@@@# set the tweet ids that will be using in the api to access the actual data\n@@@tweet_id=df_twitter_archive[\'tweet_id\']\n@@@\n@@@# download tweets by passing the tweet_id list and tweet_json.txt filename\n@@@# save the results of unloaded ids so they can be attempted again\n@@@error_ids_01=download_tweets(tweet_id,\'tweet_json.txt\')\n@@@```\n@@@\n@@@    19  >> Tweet id:  888202515573088257\n@@@    [{\'code\': 144, \'message\': \'No status found with that ID.\'}]\n@@@    95  >> Tweet id:  873697596434513921\n@@@    [{\'code\': 144, \'message\': \'No status found with that ID.\'}]\n@@@    118  >> Tweet id:  869988702071779329\n@@@    [{\'code\': 144, \'message\': \'No status found with that ID.\'}]\n@@@    132  >> Tweet id:  866816280283807744\n@@@    [{\'code\': 144, \'message\': \'No status found with that ID.\'}]\n@@@    155  >> Tweet id:  861769973181624320\n@@@    [{\'code\': 144, \'message\': \'No status found with that ID.\'}]\n@@@    247  >> Tweet id:  845459076796616705\n@@@    [{\'code\': 144, \'message\': \'No status found with that ID.\'}]\n@@@    260  >> Tweet id:  842892208864923648\n@@@    [{\'code\': 144, \'message\': \'No status found with that ID.\'}]\n@@@    298  >> Tweet id:  837012587749474308\n@@@    [{\'code\': 144, \'message\': \'No status found with that ID.\'}]\n@@@    382  >> Tweet id:  827228250799742977\n@@@    [{\'code\': 144, \'message\': \'No status found with that ID.\'}]\n@@@    566  >> Tweet id:  802247111496568832\n@@@    [{\'code\': 144, \'message\': \'No status found with that ID.\'}]\n@@@    784  >> Tweet id:  775096608509886464\n@@@    [{\'code\': 144, \'message\': \'No status found with that ID.\'}]\n@@@    815  >> Tweet id:  771004394259247104\n@@@    [{\'code\': 179, \'message\': \'Sorry, you are not authorized to see this status.\'}]\n@@@    818  >> Tweet id:  770743923962707968\n@@@    [{\'code\': 144, \'message\': \'No status found with that ID.\'}]\n@@@    \n@@@\n@@@    Rate limit reached. Sleeping for: 732\n@@@    \n@@@\n@@@    932  >> Tweet id:  754011816964026368\n@@@    [{\'code\': 144, \'message\': \'No status found with that ID.\'}]\n@@@    \n@@@\n@@@    Rate limit reached. Sleeping for: 728\n@@@    \n@@@\n@@@    \n@@@     \n@@@    Total number of Tweeter ids : 2356\n@@@    The following  14 tweet ids could not be downloaded for various reasons: \n@@@    [888202515573088257, 873697596434513921, 869988702071779329, 866816280283807744, 861769973181624320, 845459076796616705, 842892208864923648, 837012587749474308, 827228250799742977, 802247111496568832, 775096608509886464, 771004394259247104, 770743923962707968, 754011816964026368]\n@@@    \n@@@     \n@@@    The download process took:  31.737418989340465  minutes\n@@@    \n@@@\n@@@\n@@@```python\n@@@# try to download the tweet contents corresponding the error tweets\n@@@error_ids_02=download_tweets(error_ids_01,\'tweet_json.txt\')\n@@@```\n@@@\n@@@    0  >> Tweet id:  888202515573088257\n@@@    [{\'code\': 144, \'message\': \'No status found with that ID.\'}]\n@@@    1  >> Tweet id:  873697596434513921\n@@@    [{\'code\': 144, \'message\': \'No status found with that ID.\'}]\n@@@    2  >> Tweet id:  869988702071779329\n@@@    [{\'code\': 144, \'message\': \'No status found with that ID.\'}]\n@@@    3  >> Tweet id:  866816280283807744\n@@@    [{\'code\': 144, \'message\': \'No status found with that ID.\'}]\n@@@    4  >> Tweet id:  861769973181624320\n@@@    [{\'code\': 144, \'message\': \'No status found with that ID.\'}]\n@@@    5  >> Tweet id:  845459076796616705\n@@@    [{\'code\': 144, \'message\': \'No status found with that ID.\'}]\n@@@    6  >> Tweet id:  842892208864923648\n@@@    [{\'code\': 144, \'message\': \'No status found with that ID.\'}]\n@@@    7  >> Tweet id:  837012587749474308\n@@@    [{\'code\': 144, \'message\': \'No status found with that ID.\'}]\n@@@    8  >> Tweet id:  827228250799742977\n@@@    [{\'code\': 144, \'message\': \'No status found with that ID.\'}]\n@@@    9  >> Tweet id:  802247111496568832\n@@@    [{\'code\': 144, \'message\': \'No status found with that ID.\'}]\n@@@    10  >> Tweet id:  775096608509886464\n@@@    [{\'code\': 144, \'message\': \'No status found with that ID.\'}]\n@@@    11  >> Tweet id:  771004394259247104\n@@@    [{\'code\': 179, \'message\': \'Sorry, you are not authorized to see this status.\'}]\n@@@    12  >> Tweet id:  770743923962707968\n@@@    [{\'code\': 144, \'message\': \'No status found with that ID.\'}]\n@@@    13  >> Tweet id:  754011816964026368\n@@@    [{\'code\': 144, \'message\': \'No status found with that ID.\'}]\n@@@    \n@@@     \n@@@    Total number of Tweeter ids : 14\n@@@    The following  14 tweet ids could not be downloaded for various reasons: \n@@@    [888202515573088257, 873697596434513921, 869988702071779329, 866816280283807744, 861769973181624320, 845459076796616705, 842892208864923648, 837012587749474308, 827228250799742977, 802247111496568832, 775096608509886464, 771004394259247104, 770743923962707968, 754011816964026368]\n@@@    \n@@@     \n@@@    The download process took:  0.03408433596293132  minutes\n@@@    \n@@@\n@@@## Observation\n@@@\n@@@At this point, we have successfully saved each tweet\'s entire content in a tweet_json.txt file with each tweet in a new line.There were 13 tweets that could not be downloaded for various reasons.  \n@@@\n@@@Next, we will read the file into memory where each tweet will be saved into a separate element in a list called \'lines\'. We will then iterate through the lines list and extract interesting elements such as tweet text, favourites count, retweet count etc in separate lists and later concatenate the lists into a dataframe.  \n@@@\n@@@\n@@@```python\n@@@## read json file to a list array and strip new line charactor\n@@@lines = [line.rstrip(\'\\n\') for line in open(\'tweet_json.txt\')]\n@@@```\n@@@\n@@@\n@@@```python\n@@@# read one tweet into a temp file to examine its content\n@@@# load the tweet into a json format for easier extraction of information\n@@@tmp = json.loads(lines[0])\n@@@\n@@@# examine a tweet\n@@@tmp\n@@@```\n@@@\n@@@\n@@@\n@@@\n@@@    {\'contributors\': None,\n@@@     \'coordinates\': None,\n@@@     \'created_at\': \'Tue Aug 01 16:23:56 +0000 2017\',\n@@@     \'display_text_range\': [0, 85],\n@@@     \'entities\':

In [13]:
#backup for test purposes
tmp=content_joined
#content_joined=tmp

In [14]:
#old image link
#project_03_01_files/project_03_01_13_0.png

#new image link
#images/project_03_01_files/project_03_01_13_0.png

#updated_image_link='images/'+subfolder_name+'/'+image_names[0]
#content_joined.replace(images_folder_name+'/'+image_names[0],updated_image_link)


#replace the image names with proper links+names
for i in image_names:
    #generate new links for md file
    updated_image_link='images/'+subfolder_name+'/'+i
    #replace the image name with proper image link
    content_joined=content_joined.replace(images_folder_name+'/'+i,updated_image_link)

In [15]:
content_joined

'\n@@@# Wrangle Report\n@@@\n@@@   \n@@@**Table of Contents**<a id=\'Top\'><a>   \n@@@[Reference](#Reference)  \n@@@[A. Data Gathering Efforts](#A)  \n@@@[B. Data Access Issues](#B)  \n@@@[C. Data Cleaning](#C)\n@@@\n@@@\n@@@\n@@@<a id=\'Reference\'></a>\n@@@[Top](#Top)\n@@@# Reference \n@@@\n@@@\n@@@https://stackoverflow.com/questions/32400867/pandas-read-csv-from-url  \n@@@https://developer.twitter.com/en/docs/tweets/data-dictionary/overview/tweet-object3\n@@@https://stackoverflow.com/questions/6159900/correct-way-to-write-line-to-file\n@@@https://stackoverflow.com/questions/4706499/how-do-you-append-to-a-file\n@@@https://stackoverflow.com/questions/41001973/python-3-5-1-nameerror-name-json-is-not-defined\n@@@https://stackoverflow.com/questions/27900451/convert-tweepy-status-object-into-json\n@@@https://gist.github.com/yanofsky/5436496\n@@@https://stackoverflow.com/questions/11716380/python-beautifulsoup-extract-text-from-anchor-tag\n@@@https://stackoverflow.com/questions/30522724/take-multiple-lists-into-dataframe\n@@@https://stackoverflow.com/questions/15247628/how-to-find-duplicate-names-using-pandas  \n@@@https://stackoverflow.com/questions/466345/converting-string-into-datetime\n@@@https://stackoverflow.com/questions/33034559/how-to-remove-last-the-two-digits-in-a-column-that-is-of-integer-type\n@@@https://stackoverflow.com/questions/25146121/extracting-just-month-and-year-from-pandas-datetime-column-python\n@@@https://stackoverflow.com/questions/20250771/remap-values-in-pandas-column-with-a-dict\n@@@https://stackoverflow.com/questions/39092067/pandas-dataframe-convert-column-type-to-string-or-categorical\n@@@https://stackoverflow.com/questions/18792918/combine-two-pandas-data-frames-join-on-a-common-column\n@@@\n@@@\n@@@```python\n@@@#import libraries\n@@@import requests # reading files programmatically\n@@@import os # manipulating file paths\n@@@import pandas as pd\n@@@import numpy as np\n@@@import tweepy #read tweeter data -- pip install tweepy\n@@@#import simplejson as json # to make json dumps --  pip install simplejson\n@@@import json # to create json objects \n@@@import time # to calculate the execution times of functions\n@@@from datetime import datetime\n@@@\n@@@# set seed for sampling\n@@@np.random.seed(27)\n@@@\n@@@```\n@@@\n@@@<a id=\'A\'></a>\n@@@[Top](#Top)\n@@@# A. Data Gathering Efforts \n@@@\n@@@## 1. Downloading the twitter-archive-enhanced.csv\n@@@\n@@@The twitter-archive-enhanced.csv was saved to the local directory by clicking the following link https://d17h27t6h515a5.cloudfront.net/topher/2017/August/59a4e958_twitter-archive-enhanced/twitter-archive-enhanced.csv \n@@@and saving the corresponding csv file in the local working directory. \n@@@\n@@@\n@@@```python\n@@@# read the twitter-archive-enhanced.csv file intp a pandas dataframe\n@@@df_twitter_archive=pd.read_csv(\'twitter-archive-enhanced.csv\')\n@@@```\n@@@\n@@@\n@@@```python\n@@@# examine the dataframe\n@@@df_twitter_archive.head(2)\n@@@```\n@@@\n@@@\n@@@\n@@@\n@@@<div>\n@@@<style scoped>\n@@@    .dataframe tbody tr th:only-of-type {\n@@@        vertical-align: middle;\n@@@    }\n@@@\n@@@    .dataframe tbody tr th {\n@@@        vertical-align: top;\n@@@    }\n@@@\n@@@    .dataframe thead th {\n@@@        text-align: right;\n@@@    }\n@@@</style>\n@@@<table border="1" class="dataframe">\n@@@  <thead>\n@@@    <tr style="text-align: right;">\n@@@      <th></th>\n@@@      <th>tweet_id</th>\n@@@      <th>in_reply_to_status_id</th>\n@@@      <th>in_reply_to_user_id</th>\n@@@      <th>timestamp</th>\n@@@      <th>source</th>\n@@@      <th>text</th>\n@@@      <th>retweeted_status_id</th>\n@@@      <th>retweeted_status_user_id</th>\n@@@      <th>retweeted_status_timestamp</th>\n@@@      <th>expanded_urls</th>\n@@@      <th>rating_numerator</th>\n@@@      <th>rating_denominator</th>\n@@@      <th>name</th>\n@@@      <th>doggo</th>\n@@@      <th>floofer</th>\n@@@      <th>pupper</th>\n@@@      <th>puppo</th>\n@@@    </tr>\n@@@  </thead>\n@@@  <tbody>\n@@@    <tr>\n@@@      <th>0</th>\n@@@      <td>892420643555336193</td>\n@@@      <td>NaN</td>\n@@@      <td>NaN</td>\n@@@      <td>2017-08-01 16:23:56 +0000</td>\n@@@      <td>&lt;a href="http://twitter.com/download/iphone" r...</td>\n@@@      <td>This is Phineas. He\'s a mystical boy. Only eve...</td>\n@@@      <td>NaN</td>\n@@@      <td>NaN</td>\n@@@      <td>NaN</td>\n@@@      <td>https://twitter.com/dog_rates/status/892420643...</td>\n@@@      <td>13</td>\n@@@      <td>10</td>\n@@@      <td>Phineas</td>\n@@@      <td>None</td>\n@@@      <td>None</td>\n@@@      <td>None</td>\n@@@      <td>None</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>1</th>\n@@@      <td>892177421306343426</td>\n@@@      <td>NaN</td>\n@@@      <td>NaN</td>\n@@@      <td>2017-08-01 00:17:27 +0000</td>\n@@@      <td>&lt;a href="http://twitter.com/download/iphone" r...</td>\n@@@      <td>This is Tilly. She\'s just checking pup on you....</td>\n@@@      <td>NaN</td>\n@@@      <td>NaN</td>\n@@@      <td>NaN</td>\n@@@      <td>https://twitter.com/dog_rates/status/892177421...</td>\n@@@      <td>13</td>\n@@@      <td>10</td>\n@@@      <td>Tilly</td>\n@@@      <td>None</td>\n@@@      <td>None</td>\n@@@      <td>None</td>\n@@@      <td>None</td>\n@@@    </tr>\n@@@  </tbody>\n@@@</table>\n@@@</div>\n@@@\n@@@\n@@@\n@@@\n@@@```python\n@@@# examine the dataframe structure\n@@@df_twitter_archive.info()\n@@@```\n@@@\n@@@    <class \'pandas.core.frame.DataFrame\'>\n@@@    RangeIndex: 2356 entries, 0 to 2355\n@@@    Data columns (total 17 columns):\n@@@    tweet_id                      2356 non-null int64\n@@@    in_reply_to_status_id         78 non-null float64\n@@@    in_reply_to_user_id           78 non-null float64\n@@@    timestamp                     2356 non-null object\n@@@    source                        2356 non-null object\n@@@    text                          2356 non-null object\n@@@    retweeted_status_id           181 non-null float64\n@@@    retweeted_status_user_id      181 non-null float64\n@@@    retweeted_status_timestamp    181 non-null object\n@@@    expanded_urls                 2297 non-null object\n@@@    rating_numerator              2356 non-null int64\n@@@    rating_denominator            2356 non-null int64\n@@@    name                          2356 non-null object\n@@@    doggo                         2356 non-null object\n@@@    floofer                       2356 non-null object\n@@@    pupper                        2356 non-null object\n@@@    puppo                         2356 non-null object\n@@@    dtypes: float64(4), int64(3), object(10)\n@@@    memory usage: 313.0+ KB\n@@@    \n@@@\n@@@## Observation\n@@@The df_twitter_archive dataframe has 17 variables and 2356 observations. Some of the variables have missing values.\n@@@\n@@@\n@@@```python\n@@@\n@@@```\n@@@\n@@@## 2. Downloading programmatically the image_predictions.tsv file\n@@@\n@@@The image_predictions.tsv was programmatically downloaded from https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv using the requests funciton.\n@@@\n@@@\n@@@```python\n@@@# programmatically download the image_predictions.tsv file\n@@@url=\'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv\'\n@@@response=requests.get(url) # saves the file in the memory\n@@@\n@@@# view the file in the memory\n@@@# response.content\n@@@\n@@@# create the file name by truncating the file name from the end of the url\n@@@file_name=url.split(\'/\')[-1] #\'image-predictions.tsv\'\n@@@\n@@@# write the tsv file to the working directory \n@@@with open(file_name, mode=\'wb\') as file:\n@@@    file.write(response.content)\n@@@    \n@@@```\n@@@\n@@@\n@@@```python\n@@@# read the image-predictions.tsv file into a pandas file\n@@@df_image_predictions=pd.read_csv(\'image-predictions.tsv\', sep = \'\\t\', encoding = \'utf-8\')\n@@@```\n@@@\n@@@\n@@@```python\n@@@# examine the image_predictions_df dataframe\n@@@df_image_predictions.head(2)\n@@@```\n@@@\n@@@\n@@@\n@@@\n@@@<div>\n@@@<style scoped>\n@@@    .dataframe tbody tr th:only-of-type {\n@@@        vertical-align: middle;\n@@@    }\n@@@\n@@@    .dataframe tbody tr th {\n@@@        vertical-align: top;\n@@@    }\n@@@\n@@@    .dataframe thead th {\n@@@        text-align: right;\n@@@    }\n@@@</style>\n@@@<table border="1" class="dataframe">\n@@@  <thead>\n@@@    <tr style="text-align: right;">\n@@@      <th></th>\n@@@      <th>tweet_id</th>\n@@@      <th>jpg_url</th>\n@@@      <th>img_num</th>\n@@@      <th>p1</th>\n@@@      <th>p1_conf</th>\n@@@      <th>p1_dog</th>\n@@@      <th>p2</th>\n@@@      <th>p2_conf</th>\n@@@      <th>p2_dog</th>\n@@@      <th>p3</th>\n@@@      <th>p3_conf</th>\n@@@      <th>p3_dog</th>\n@@@    </tr>\n@@@  </thead>\n@@@  <tbody>\n@@@    <tr>\n@@@      <th>0</th>\n@@@      <td>666020888022790149</td>\n@@@      <td>https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg</td>\n@@@      <td>1</td>\n@@@      <td>Welsh_springer_spaniel</td>\n@@@      <td>0.465074</td>\n@@@      <td>True</td>\n@@@      <td>collie</td>\n@@@      <td>0.156665</td>\n@@@      <td>True</td>\n@@@      <td>Shetland_sheepdog</td>\n@@@      <td>0.061428</td>\n@@@      <td>True</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>1</th>\n@@@      <td>666029285002620928</td>\n@@@      <td>https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg</td>\n@@@      <td>1</td>\n@@@      <td>redbone</td>\n@@@      <td>0.506826</td>\n@@@      <td>True</td>\n@@@      <td>miniature_pinscher</td>\n@@@      <td>0.074192</td>\n@@@      <td>True</td>\n@@@      <td>Rhodesian_ridgeback</td>\n@@@      <td>0.072010</td>\n@@@      <td>True</td>\n@@@    </tr>\n@@@  </tbody>\n@@@</table>\n@@@</div>\n@@@\n@@@\n@@@\n@@@\n@@@```python\n@@@# examine the structure of the df_image_predictions dataframe\n@@@df_image_predictions.info()\n@@@```\n@@@\n@@@    <class \'pandas.core.frame.DataFrame\'>\n@@@    RangeIndex: 2075 entries, 0 to 2074\n@@@    Data columns (total 12 columns):\n@@@    tweet_id    2075 non-null int64\n@@@    jpg_url     2075 non-null object\n@@@    img_num     2075 non-null int64\n@@@    p1          2075 non-null object\n@@@    p1_conf     2075 non-null float64\n@@@    p1_dog      2075 non-null bool\n@@@    p2          2075 non-null object\n@@@    p2_conf     2075 non-null float64\n@@@    p2_dog      2075 non-null bool\n@@@    p3          2075 non-null object\n@@@    p3_conf     2075 non-null float64\n@@@    p3_dog      2075 non-null bool\n@@@    dtypes: bool(3), float64(3), int64(2), object(4)\n@@@    memory usage: 152.1+ KB\n@@@    \n@@@\n@@@## Observation\n@@@\n@@@The df_image_predictions has 12 variables and 2075 observations. The are no missing values in the dataframe.\n@@@\n@@@\n@@@```python\n@@@\n@@@```\n@@@\n@@@## 3. Downloading Twitter data via Twitter API and tweepy library\n@@@\n@@@\n@@@```python\n@@@## set tweet consumer and access key >>> replace the ### with actual keys\n@@@consumer_key = \'Yn71UCiC2MdIHkBalOBc08yMO\'\n@@@consumer_secret = \'K7CAtE6njCkEA3trt592jJEBDRa0a6OkZsoV6MsdkM8BLWPSCl\'\n@@@access_token = \'108732090-QR9V8gfQGTPu6tJBzNkINGhKjCTMh0vhuOziyoe3\'\n@@@access_secret = \'HsALvm8Y5qG77fTMrfGeWjVYZY6DnupdoZu4FSBnaUmk2\'\n@@@\n@@@auth = tweepy.OAuthHandler(consumer_key, consumer_secret)\n@@@auth.set_access_token(access_token, access_secret)\n@@@\n@@@# use jsonparser to make json readable content, create json dumps and query json objects\n@@@# wait_on_rate_limit = True , allows the program to wait during timeouts \n@@@# wait_on_rate_limit_notify = True, writes to screen when waiting\n@@@api = tweepy.API(auth,parser=tweepy.parsers.JSONParser(),wait_on_rate_limit = True, wait_on_rate_limit_notify = True)\n@@@```\n@@@\n@@@\n@@@```python\n@@@# function to append file line by line\n@@@# The function was adapted from https://stackoverflow.com/questions/4706499/how-do-you-append-to-a-file\n@@@# input: the function takes a filename string and text\n@@@# process: the function opens a file and adds the text in append mode\n@@@# out: none\n@@@def FileSave(filename,content):\n@@@    with open(filename, "a") as myfile:\n@@@        myfile.write(content)\n@@@```\n@@@\n@@@\n@@@```python\n@@@# input: the function takes a list of tweet ids and a filename\n@@@# process: the function downloads tweets corresponding to a tweet ids and adds it to a file\n@@@# out: the function prints out the time taken to download the tweets, prints the error msgs and\n@@@#      returns a list of ids that could not be downloaded\n@@@\n@@@def download_tweets(id_list,filename):\n@@@    \n@@@    # set the start time\n@@@    start_time = time.time()\n@@@\n@@@    unloaded_tweet_ids=[]\n@@@    counter=0\n@@@    for i in id_list:\n@@@        try:\n@@@            #print(counter,\' >> Tweet id: \',i)\n@@@            tweet=api.get_status(i,tweet_mode=\'extended\')\n@@@            FileSave(filename,json.dumps(tweet)+\'\\n\')\n@@@            counter=counter+1\n@@@            \n@@@        except Exception as download_error_msg:\n@@@            print(counter,\' >> Tweet id: \',i)\n@@@            print(download_error_msg)\n@@@            unloaded_tweet_ids.append(i)\n@@@            counter=counter+1\n@@@\n@@@            \n@@@    #print unloaded tweeter ids\n@@@    print(\'\\n \\nTotal number of Tweeter ids :\',len(id_list))\n@@@    print(\'The following \',len(unloaded_tweet_ids), \'tweet ids could not be downloaded for various reasons: \')\n@@@    print(unloaded_tweet_ids)\n@@@    \n@@@    # set the end time\n@@@    end_time = time.time()\n@@@\n@@@    # print the execution time\n@@@    print(\'\\n \\nThe download process took: \', (end_time - start_time)/60, \' minutes\')\n@@@    \n@@@    return(unloaded_tweet_ids)\n@@@```\n@@@\n@@@\n@@@```python\n@@@# set the tweet ids that will be using in the api to access the actual data\n@@@tweet_id=df_twitter_archive[\'tweet_id\']\n@@@\n@@@# download tweets by passing the tweet_id list and tweet_json.txt filename\n@@@# save the results of unloaded ids so they can be attempted again\n@@@error_ids_01=download_tweets(tweet_id,\'tweet_json.txt\')\n@@@```\n@@@\n@@@    19  >> Tweet id:  888202515573088257\n@@@    [{\'code\': 144, \'message\': \'No status found with that ID.\'}]\n@@@    95  >> Tweet id:  873697596434513921\n@@@    [{\'code\': 144, \'message\': \'No status found with that ID.\'}]\n@@@    118  >> Tweet id:  869988702071779329\n@@@    [{\'code\': 144, \'message\': \'No status found with that ID.\'}]\n@@@    132  >> Tweet id:  866816280283807744\n@@@    [{\'code\': 144, \'message\': \'No status found with that ID.\'}]\n@@@    155  >> Tweet id:  861769973181624320\n@@@    [{\'code\': 144, \'message\': \'No status found with that ID.\'}]\n@@@    247  >> Tweet id:  845459076796616705\n@@@    [{\'code\': 144, \'message\': \'No status found with that ID.\'}]\n@@@    260  >> Tweet id:  842892208864923648\n@@@    [{\'code\': 144, \'message\': \'No status found with that ID.\'}]\n@@@    298  >> Tweet id:  837012587749474308\n@@@    [{\'code\': 144, \'message\': \'No status found with that ID.\'}]\n@@@    382  >> Tweet id:  827228250799742977\n@@@    [{\'code\': 144, \'message\': \'No status found with that ID.\'}]\n@@@    566  >> Tweet id:  802247111496568832\n@@@    [{\'code\': 144, \'message\': \'No status found with that ID.\'}]\n@@@    784  >> Tweet id:  775096608509886464\n@@@    [{\'code\': 144, \'message\': \'No status found with that ID.\'}]\n@@@    815  >> Tweet id:  771004394259247104\n@@@    [{\'code\': 179, \'message\': \'Sorry, you are not authorized to see this status.\'}]\n@@@    818  >> Tweet id:  770743923962707968\n@@@    [{\'code\': 144, \'message\': \'No status found with that ID.\'}]\n@@@    \n@@@\n@@@    Rate limit reached. Sleeping for: 732\n@@@    \n@@@\n@@@    932  >> Tweet id:  754011816964026368\n@@@    [{\'code\': 144, \'message\': \'No status found with that ID.\'}]\n@@@    \n@@@\n@@@    Rate limit reached. Sleeping for: 728\n@@@    \n@@@\n@@@    \n@@@     \n@@@    Total number of Tweeter ids : 2356\n@@@    The following  14 tweet ids could not be downloaded for various reasons: \n@@@    [888202515573088257, 873697596434513921, 869988702071779329, 866816280283807744, 861769973181624320, 845459076796616705, 842892208864923648, 837012587749474308, 827228250799742977, 802247111496568832, 775096608509886464, 771004394259247104, 770743923962707968, 754011816964026368]\n@@@    \n@@@     \n@@@    The download process took:  31.737418989340465  minutes\n@@@    \n@@@\n@@@\n@@@```python\n@@@# try to download the tweet contents corresponding the error tweets\n@@@error_ids_02=download_tweets(error_ids_01,\'tweet_json.txt\')\n@@@```\n@@@\n@@@    0  >> Tweet id:  888202515573088257\n@@@    [{\'code\': 144, \'message\': \'No status found with that ID.\'}]\n@@@    1  >> Tweet id:  873697596434513921\n@@@    [{\'code\': 144, \'message\': \'No status found with that ID.\'}]\n@@@    2  >> Tweet id:  869988702071779329\n@@@    [{\'code\': 144, \'message\': \'No status found with that ID.\'}]\n@@@    3  >> Tweet id:  866816280283807744\n@@@    [{\'code\': 144, \'message\': \'No status found with that ID.\'}]\n@@@    4  >> Tweet id:  861769973181624320\n@@@    [{\'code\': 144, \'message\': \'No status found with that ID.\'}]\n@@@    5  >> Tweet id:  845459076796616705\n@@@    [{\'code\': 144, \'message\': \'No status found with that ID.\'}]\n@@@    6  >> Tweet id:  842892208864923648\n@@@    [{\'code\': 144, \'message\': \'No status found with that ID.\'}]\n@@@    7  >> Tweet id:  837012587749474308\n@@@    [{\'code\': 144, \'message\': \'No status found with that ID.\'}]\n@@@    8  >> Tweet id:  827228250799742977\n@@@    [{\'code\': 144, \'message\': \'No status found with that ID.\'}]\n@@@    9  >> Tweet id:  802247111496568832\n@@@    [{\'code\': 144, \'message\': \'No status found with that ID.\'}]\n@@@    10  >> Tweet id:  775096608509886464\n@@@    [{\'code\': 144, \'message\': \'No status found with that ID.\'}]\n@@@    11  >> Tweet id:  771004394259247104\n@@@    [{\'code\': 179, \'message\': \'Sorry, you are not authorized to see this status.\'}]\n@@@    12  >> Tweet id:  770743923962707968\n@@@    [{\'code\': 144, \'message\': \'No status found with that ID.\'}]\n@@@    13  >> Tweet id:  754011816964026368\n@@@    [{\'code\': 144, \'message\': \'No status found with that ID.\'}]\n@@@    \n@@@     \n@@@    Total number of Tweeter ids : 14\n@@@    The following  14 tweet ids could not be downloaded for various reasons: \n@@@    [888202515573088257, 873697596434513921, 869988702071779329, 866816280283807744, 861769973181624320, 845459076796616705, 842892208864923648, 837012587749474308, 827228250799742977, 802247111496568832, 775096608509886464, 771004394259247104, 770743923962707968, 754011816964026368]\n@@@    \n@@@     \n@@@    The download process took:  0.03408433596293132  minutes\n@@@    \n@@@\n@@@## Observation\n@@@\n@@@At this point, we have successfully saved each tweet\'s entire content in a tweet_json.txt file with each tweet in a new line.There were 13 tweets that could not be downloaded for various reasons.  \n@@@\n@@@Next, we will read the file into memory where each tweet will be saved into a separate element in a list called \'lines\'. We will then iterate through the lines list and extract interesting elements such as tweet text, favourites count, retweet count etc in separate lists and later concatenate the lists into a dataframe.  \n@@@\n@@@\n@@@```python\n@@@## read json file to a list array and strip new line charactor\n@@@lines = [line.rstrip(\'\\n\') for line in open(\'tweet_json.txt\')]\n@@@```\n@@@\n@@@\n@@@```python\n@@@# read one tweet into a temp file to examine its content\n@@@# load the tweet into a json format for easier extraction of information\n@@@tmp = json.loads(lines[0])\n@@@\n@@@# examine a tweet\n@@@tmp\n@@@```\n@@@\n@@@\n@@@\n@@@\n@@@    {\'contributors\': None,\n@@@     \'coordinates\': None,\n@@@     \'created_at\': \'Tue Aug 01 16:23:56 +0000 2017\',\n@@@     \'display_text_range\': [0, 85],\n@@@     \'entities\':

In [16]:
#use this below to split at @@@ and then save it to a md file
lines=content_joined.split('@@@')

In [17]:
### use this to write the files back
with open(markdown_name, 'w') as filehandle:  
    filehandle.writelines("%s" % place for place in lines)
    #code below will add a line break
    #filehandle.writelines("%s\n" % place for place in places_list)

In [18]:
#copy image files to the images/movie_data_eda subfoler

#define source and destination
source=os.listdir(images_folder_name)
destination='git_page/images/'+subfolder_name


#works
for files in source:
    if files.endswith(".png"):
        shutil.copy(images_folder_name+'/'+files,destination)
        #print(files)

FileNotFoundError: [WinError 3] The system cannot find the path specified: 'data_analyst_nanodegree_term_02_project_03_wrangle_act_v2_0_files'

In [19]:
#copy md file to git_page folder
#source='markdown/project_03_01.md'
#destination='git_page/'
#shutil.copy(source, destination)

source=markdown_name
destination='git_page/'
shutil.copy(source, destination)

'git_page/data_analyst_nanodegree_term_02_project_03_wrangle_act_v2_0.md'

In [20]:
#delete the images folder that is OUTSIDE the git_page folder
shutil.rmtree(images_folder_name) #remove folder
#delete the markdonw file that is OUTSIDE the git_page folder
os.remove(markdown_name) #remove file

FileNotFoundError: [WinError 3] The system cannot find the path specified: 'data_analyst_nanodegree_term_02_project_03_wrangle_act_v2_0_files'

In [ ]:
###################################################################