In [21]:
import os #to run commands in command prompt in python
import glob # to get paths to files in a folder
import shutil #copy files

In [2]:
def create_dir(directory):
    if not os.path.exists(directory):
        print('Creating Directory '+directory)
        os.makedirs(directory)

folder structure

clean_md_file.ipynb
project_03_01.ipynb
data>>
git_page>>project_03_01.md
git_page>>images>>movie_data_eda>>

In [3]:
#inputs
#enter the ipython notebook name
notebook_name='project_03_01.ipynb'
markdown_name='project_03_01.md'
images_folder_name=markdown_name.replace('.md','')+'_files' #remove the .md and add _files
subfolder_name='project_03_01' # images/'subfolder_name'/ -- this will contain all images


print(notebook_name) # name of jupyter notebook
print(markdown_name) #md file made during jupyter to md conversion, moved to git_page folder and deleted from root
print(images_folder_name) #default folder made when generating md file - later deleted
print(subfolder_name) #name of the subfolder inside images subfolder

project_03_01.ipynb
project_03_01.md
project_03_01_files
project_03_01

In [4]:
#create the directory structure
create_dir('git_page/images/'+subfolder_name) #subfolder for all project images

In [5]:
#!jupyter nbconvert project_03_01.ipynb --to markdown --output test.md
## first create a string using the notebook name and markdown name
string_01='jupyter nbconvert '+ notebook_name + ' --to markdown --output '+ markdown_name
#string_01='jupyter nbconvert '+ notebook_name + ' --to markdown' 

print(string_01)

jupyter nbconvert project_03_01.ipynb --to markdown --output project_03_01.md

In [6]:
#run the string_01 in command prompt to generate the markdown files
os.system(string_01)

0

In [7]:
#get a list of only image names in sub directory
#image_links = [f for f in glob.glob("markdown\*.png")]

images_path=images_folder_name+'\*.png'
image_links = [f for f in glob.glob(images_path)]

image_links

['project_03_01_files\\project_03_01_13_0.png',
 'project_03_01_files\\project_03_01_28_0.png',
 'project_03_01_files\\project_03_01_33_0.png',
 'project_03_01_files\\project_03_01_37_0.png',
 'project_03_01_files\\project_03_01_53_0.png',
 'project_03_01_files\\project_03_01_53_1.png',
 'project_03_01_files\\project_03_01_53_10.png',
 'project_03_01_files\\project_03_01_53_11.png',
 'project_03_01_files\\project_03_01_53_12.png',
 'project_03_01_files\\project_03_01_53_13.png',
 'project_03_01_files\\project_03_01_53_14.png',
 'project_03_01_files\\project_03_01_53_15.png',
 'project_03_01_files\\project_03_01_53_16.png',
 'project_03_01_files\\project_03_01_53_17.png',
 'project_03_01_files\\project_03_01_53_18.png',
 'project_03_01_files\\project_03_01_53_19.png',
 'project_03_01_files\\project_03_01_53_2.png',
 'project_03_01_files\\project_03_01_53_3.png',
 'project_03_01_files\\project_03_01_53_4.png',
 'project_03_01_files\\project_03_01_53_5.png',
 'project_03_01_files\\project_03_01_53_6.png',
 'project_03_01_files\\project_03_01_53_7.png',
 'project_03_01_files\\project_03_01_53_8.png',
 'project_03_01_files\\project_03_01_53_9.png']

In [8]:
#from the image_links, only save the image names
#save just the image names to a list
image_names=[]
for i in image_links:
    #image_names.append(i.replace('markdown\\',''))
    image_names.append(i.replace(images_folder_name+'\\',''))
    
image_names

['project_03_01_13_0.png',
 'project_03_01_28_0.png',
 'project_03_01_33_0.png',
 'project_03_01_37_0.png',
 'project_03_01_53_0.png',
 'project_03_01_53_1.png',
 'project_03_01_53_10.png',
 'project_03_01_53_11.png',
 'project_03_01_53_12.png',
 'project_03_01_53_13.png',
 'project_03_01_53_14.png',
 'project_03_01_53_15.png',
 'project_03_01_53_16.png',
 'project_03_01_53_17.png',
 'project_03_01_53_18.png',
 'project_03_01_53_19.png',
 'project_03_01_53_2.png',
 'project_03_01_53_3.png',
 'project_03_01_53_4.png',
 'project_03_01_53_5.png',
 'project_03_01_53_6.png',
 'project_03_01_53_7.png',
 'project_03_01_53_8.png',
 'project_03_01_53_9.png']

In [9]:
# Open the file with read only permit
f = open(markdown_name, "r")
# use readlines to read all lines in the file
# The variable "lines" is a list containing all lines in the file
lines = f.readlines()
# close the file after reading the lines.
f.close()

lines

['\n',
 ' \n',
 '\n',
 "<a id='top'> </a>\n",
 "This project explores the TMDb movie data set from Udacity's curated data site. \n",
 'The dataset is also attached in the data folder. The data set contains information on approximately 10,000 movies.\n',
 'Also brief overview can be found [here](#overview).\n',
 '<br>\n',
 '<br>\n',
 'Questions that will be investigated:\n',
 '<br>[What were the 10 most profitable movies?](#link_01)\n',
 '<br>[Find the most profitable movie in each genre?](#link_02)\n',
 '<br>[What were the most profitable movies in each year?](#link_03)\n',
 '<br>[What is the average lenght of movies in each genre?](#link_04)\n',
 '<br>[Who are the top 10 most common movie directors?](#link_05)\n',
 '<br>[Which movie directors made movies that made the most profit?](#link_06)\n',
 '<br>[List the most profitable movie director in each genre?](#link_07)\n',
 '<br>[Are there any directors that standout and appear in  multiple genres for the top 10 movies directored? ](#link_08)\n',
 '\n',
 '<br>\n',
 'Assumptions: While exploring the dataset, I assumed that : <br>\n',
 '                profitablity of a movie = revenue  - budget\n',
 '\n',
 '<br> References can be found [here](#reference).\n',
 '\n',
 '\n',
 ' \n',
 '\n',
 '\n',
 '```python\n',
 '\n',
 '```\n',
 '\n',
 '\n',
 '```python\n',
 'import numpy as np\n',
 'import pandas as pd\n',
 'import matplotlib as mpl\n',
 'import matplotlib.pyplot as plt\n',
 'import seaborn as sns\n',
 'sns.set(style="whitegrid", color_codes=True)\n',
 'import ipywidgets as wg\n',
 'from ipywidgets import interact, interactive, fixed, interact_manual\n',
 'from IPython.display import display\n',
 '\n',
 '%matplotlib inline\n',
 '```\n',
 '\n',
 '\n',
 '```python\n',
 '\n',
 '```\n',
 '\n',
 '\n',
 '```python\n',
 '#Function reads the movie dataset and formats the date\n',
 'def read_format_file():\n',
 "    tmp=pd.read_csv('data/tmdb-movies.csv')\n",
 '\n',
 '    #convert release date to date format\n',
 "    release_date=pd.to_datetime(tmp['release_date'])\n",
 '\n',
 '    #add a profit column \n',
 "    tmp['profit']=tmp.revenue-tmp.budget\n",
 '    \n',
 '    return tmp\n',
 '```\n',
 '\n',
 '\n',
 '```python\n',
 'df=read_format_file()\n',
 '#df.head(2)\n',
 'df.info()\n',
 '```\n',
 '\n',
 "    <class 'pandas.core.frame.DataFrame'>\n",
 '    RangeIndex: 10866 entries, 0 to 10865\n',
 '    Data columns (total 22 columns):\n',
 '    id                      10866 non-null int64\n',
 '    imdb_id                 10856 non-null object\n',
 '    popularity              10866 non-null float64\n',
 '    budget                  10866 non-null int64\n',
 '    revenue                 10866 non-null int64\n',
 '    original_title          10866 non-null object\n',
 '    cast                    10790 non-null object\n',
 '    homepage                2936 non-null object\n',
 '    director                10822 non-null object\n',
 '    tagline                 8042 non-null object\n',
 '    keywords                9373 non-null object\n',
 '    overview                10862 non-null object\n',
 '    runtime                 10866 non-null int64\n',
 '    genres                  10843 non-null object\n',
 '    production_companies    9836 non-null object\n',
 '    release_date            10866 non-null object\n',
 '    vote_count              10866 non-null int64\n',
 '    vote_average            10866 non-null float64\n',
 '    release_year            10866 non-null int64\n',
 '    budget_adj              10866 non-null float64\n',
 '    revenue_adj             10866 non-null float64\n',
 '    profit                  10866 non-null int64\n',
 '    dtypes: float64(4), int64(7), object(11)\n',
 '    memory usage: 1.8+ MB\n',
 '    \n',
 '\n',
 "<a id='overview'> </a>\n",
 '\n',
 '## Brief Overview of the Dataset\n',
 '[Go to top](#top)\n',
 '\n',
 '\n',
 '\n',
 '```python\n',
 "print('The movies analyzed are from ', df.release_year.min(),' to ',df.release_year.max(),'.',sep='',end='')\n",
 '\n',
 "print(' The most profitable movie is ',df.iloc[df.profit.idxmax()].original_title,' with a budget of ',\n",
 "      '${:,.2f}'.format(df.iloc[df.profit.idxmax()].budget),' and revenue of ',\n",
 "      '${:,.2f}'.format(df.iloc[df.profit.idxmax()].revenue),' and profit of ',\n",
 "      '${:,.2f}'.format(df.iloc[df.profit.idxmax()].profit),'.',sep='', end='')\n",
 '\n',
 "print(' ',df.iloc[df.profit.idxmin()].original_title,' was a finacial disaster as it lost ',\n",
 "      '${:,.2f}'.format(abs(df.iloc[df.profit.idxmin()].profit)),'.', sep='',end='')\n",
 '\n',
 "#print(' next line test') \n",
 '```\n',
 '\n',
 "    The movies analyzed are from 1960 to 2015. The most profitable movie is Avatar with a budget of $237,000,000.00 and revenue of $2,781,505,847.00 and profit of $2,544,505,847.00. The Warrior's Way was a finacial disaster as it lost $413,912,431.00.\n",
 '\n',
 '\n',
 '```python\n',
 '\n',
 '```\n',
 '\n',
 "<a id='link_01'> </a>\n",
 '## What were the 10 most profitable movies?\n',
 '[Go to top](#top)\n',
 '\n',
 '\n',
 '```python\n',
 '#input: function takes the movie dataset and n - the top n number of profitable movies\n',
 '#process: function finds the most profitable movies\n',
 '#out: function returns a graph of most profitable movies\n',
 'def top_profitable_movies(df,n):\n',
 "    tmp_01=df.sort_values(by=['profit'],ascending=False)[['original_title','release_year','profit']].head(n)\n",
 '    f, ax = plt.subplots(figsize=(10, 3))\n',
 '    ax=sns.stripplot(x="original_title", y=\'profit\',hue=\'release_year\',data=tmp_01)\n',
 '    ax.set_xticklabels(ax.get_xticklabels(),rotation=90,fontsize=15)\n',
 "    ax.set_title('Figure 01:Top '+ str(n) + ' Profitable Movies',fontsize=20)\n",
 "    ax.set_xlabel('Movie Names')\n",
 "    ax.set_ylabel('Profit Generated $');\n",
 '\n',
 '```\n',
 '\n',
 '\n',
 '```python\n',
 'top_profitable_movies(df,10)\n',
 '```\n',
 '\n',
 '\n',
 '![png](project_03_01_files/project_03_01_13_0.png)\n',
 '\n',
 '\n',
 'Observation: As stated earlier, Avatar was the most profitable move that came out in 2009.Year 2015 was exciting for movie goers\n',
 'as there were 4 movies that attracted a lot of attention: Starwars:The Force Awakens, Jurassic World, Furious 7 and Avengers:Age of Ultron.\n',
 '\n',
 '\n',
 '\n',
 '```python\n',
 '\n',
 '```\n',
 '\n',
 "<a id='link_02'> </a>\n",
 '## Find the most profitable movie in each genre?\n',
 '[Go to top](#top)\n',
 '\n',
 '\n',
 '```python\n',
 '#input: function takes in the movie dataset\n',
 '#process: calculates the most profitable movie in each genre\n',
 '#output: returns a dataframe of most profitable movie in each genre\n',
 'def profitable_movies_in_each_genre(df):\n',
 "    genres=df['genres'].str.split('|', expand=True) #split the genres by |\n",
 '    tmp_01=pd.concat([df.profit,df.release_year,df.original_title,genres],axis=1) \n',
 '    #melt the genres columns into one column \n',
 "    tmp_02=pd.melt(tmp_01,id_vars=['profit','release_year','original_title'],value_name='genre') \n",
 "    tmp_02=tmp_02.drop(columns=['variable']) #drop variable column generated during melt\n",
 '    tmp_02=tmp_02.loc[tmp_02.genre.notna()] # remove nan, None from genre column\n',
 '    tmp_03=pd.concat([tmp_02.genre,tmp_02.profit],axis=1) #lets get the index first using only two columns\n',
 "    ind=tmp_03.groupby(['genre']).idxmax().reset_index().profit.values #get the index of most profitable genres\n",
 '    top_genres=tmp_02.loc[ind]\n',
 '    return top_genres\n',
 '```\n',
 '\n',
 '\n',
 '```python\n',
 'profitable_movies_in_each_genre(df)\n',
 '```\n',
 '\n',
 '\n',
 '\n',
 '\n',
 '<div>\n',
 '<style scoped>\n',
 '    .dataframe tbody tr th:only-of-type {\n',
 '        vertical-align: middle;\n',
 '    }\n',
 '\n',
 '    .dataframe tbody tr th {\n',
 '        vertical-align: top;\n',
 '    }\n',
 '\n',
 '    .dataframe thead th {\n',
 '        text-align: right;\n',
 '    }\n',
 '</style>\n',
 '<table border="1" class="dataframe">\n',
 '  <thead>\n',
 '    <tr style="text-align: right;">\n',
 '      <th></th>\n',
 '      <th>profit</th>\n',
 '      <th>release_year</th>\n',
 '      <th>original_title</th>\n',
 '      <th>genre</th>\n',
 '    </tr>\n',
 '  </thead>\n',
 '  <tbody>\n',
 '    <tr>\n',
 '      <th>1386</th>\n',
 '      <td>2544505847</td>\n',
 '      <td>2009</td>\n',
 '      <td>Avatar</td>\n',
 '      <td>Action</td>\n',
 '    </tr>\n',
 '    <tr>\n',
 '      <th>12252</th>\n',
 '      <td>2544505847</td>\n',
 '      <td>2009</td>\n',
 '      <td>Avatar</td>\n',
 '      <td>Adventure</td>\n',
 '    </tr>\n',
 '    <tr>\n',
 '      <th>5422</th>\n',
 '      <td>1124219009</td>\n',
 '      <td>2013</td>\n',
 '      <td>Frozen</td>\n',
 '      <td>Animation</td>\n',
 '    </tr>\n',
 '    <tr>\n',
 '      <th>32606</th>\n',
 '      <td>1082730962</td>\n',
 '      <td>2015</td>\n',
 '      <td>Minions</td>\n',
 '      <td>Comedy</td>\n',
 '    </tr>\n',
 '    <tr>\n',
 '      <th>10870</th>\n',
 '      <td>1316249360</td>\n',
 '      <td>2015</td>\n',
 '      <td>Furious 7</td>\n',
 '      <td>Crime</td>\n',
 '    </tr>\n',
 '    <tr>\n',
 '      <th>7049</th>\n',
 '      <td>113114517</td>\n',
 '      <td>2004</td>\n',
 '      <td>Fahrenheit 9/11</td>\n',
 '      <td>Documentary</td>\n',
 '    </tr>\n',
 '    <tr>\n',
 '      <th>5231</th>\n',
 '      <td>1645034188</td>\n',
 '      <td>1997</td>\n',
 '      <td>Titanic</td>\n',
 '      <td>Drama</td>\n',
 '    </tr>\n',
 '    <tr>\n',
 '      <th>14240</th>\n',
 '      <td>1202817822</td>\n',
 '      <td>2011</td>\n',
 '      <td>Harry Potter and the Deathly Hallows: Part 2</td>\n',
 '      <td>Family</td>\n',
 '    </tr>\n',
 '    <tr>\n',
 '      <th>23118</th>\n',
 '      <td>2544505847</td>\n',
 '      <td>2009</td>\n',
 '      <td>Avatar</td>\n',
 '      <td>Fantasy</td>\n',
 '    </tr>\n',
 '    <tr>\n',
 '      <th>24967</th>\n',
 '      <td>66900000</td>\n',
 '      <td>2008</td>\n',
 '      <td>Ghajini</td>\n',
 '      <td>Foreign</td>\n',
 '    </tr>\n',
 '    <tr>\n',
 '      <th>19840</th>\n',
 '      <td>411840909</td>\n',
 '      <td>1998</td>\n',
 '      <td>Saving Private Ryan</td>\n',
 '      <td>History</td>\n',
 '    </tr>\n',
 '    <tr>\n',
 '      <th>9806</th>\n',
 '      <td>463654000</td>\n',
 '      <td>1975</td>\n',
 '      <td>Jaws</td>\n',
 '      <td>Horror</td>\n',
 '    </tr>\n',
 '    <tr>\n',
 '      <th>40869</th>\n',
 '      <td>386006740</td>\n',
 '      <td>1992</td>\n',
 '      <td>The Bodyguard</td>\n',
 '      <td>Music</td>\n',
 '    </tr>\n',
 '    <tr>\n',
 '      <th>29826</th>\n',
 '      <td>1084279658</td>\n',
 '      <td>1995</td>\n',
 '      <td>The Net</td>\n',
 '      <td>Mystery</td>\n',
 '    </tr>\n',
 '    <tr>\n',
 '      <th>16097</th>\n',
 '      <td>1645034188</td>\n',
 '      <td>1997</td>\n',
 '      <td>Titanic</td>\n',
 '      <td>Romance</td>\n',
 '    </tr>\n',
 '    <tr>\n',
 '      <th>33984</th>\n',
 '      <td>2544505847</td>\n',
 '      <td>2009</td>\n',
 '      <td>Avatar</td>\n',
 '      <td>Science Fiction</td>\n',
 '    </tr>\n',
 '    <tr>\n',
 '      <th>8615</th>\n',
 '      <td>37000000</td>\n',
 '      <td>1996</td>\n',
 '      <td>Doctor Who</td>\n',
 '      <td>TV Movie</td>\n',
 '    </tr>\n',
 '    <tr>\n',
 '      <th>26963</th>\n',
 '      <td>1645034188</td>\n',
 '      <td>1997</td>\n',
 '      <td>Titanic</td>\n',
 '      <td>Thriller</td>\n',
 '    </tr>\n',
 '    <tr>\n',
 '      <th>19</th>\n',
 '      <td>490523427</td>\n',
 '      <td>2015</td>\n',
 '      <td>The Hunger Games: Mockingjay - Part 2</td>\n',
 '      <td>War</td>\n',
 '    </tr>\n',
 '    <tr>\n',
 '      <th>31717</th>\n',
 '      <td>402208848</td>\n',
 '      <td>1990</td>\n',
 '      <td>Dances with Wolves</td>\n',
 '      <td>Western</td>\n',
 '    </tr>\n',
 '  </tbody>\n',
 '</table>\n',
 '</div>\n',
 '\n',
 '\n',
 '\n',
 'Observation:Avatar (2009) was profitable in multiple genres: action, adventure, fantasy and sciene fiction. Its interesting to see that Jaws which came out in 1975 was most profitable in horror genre considering it was a very old movie but still holding its ground.Also, interesting to note that Titanic was most profitable in drama, romance and thriller. It seems that top profitable movies are profitable in multiple genres - although this could be further investigated. \n',
 '\n',
 '\n',
 '```python\n',
 '\n',
 '```\n',
 '\n',
 "<a id='link_03'> </a>\n",
 '## What were the most profitable movies in each year?\n',
 '[Go to top](#top)\n',
 '\n',
 '\n',
 '```python\n',
 '#input: function takes the movie dataset\n',
 '#process: function calculates the most profitable movie each year\n',
 '#out: function returns a dataframe of most profitable movies per year\n',
 'def profitable_movie_per_year(df):\n',
 "    ind=df.groupby('release_year')['profit'].idxmax().values\n",
 "    top_yearly_movies=df.iloc[ind][['release_year','original_title','genres','director','profit']]\n",
 '    return top_yearly_movies\n',
 '```\n',
 '\n',
 '\n',
 '```python\n',
 'profitable_movie_per_year(df)\n',
 '```\n',
 '\n',
 '\n',
 '\n',
 '\n',
 '<div>\n',
 '<style scoped>\n',
 '    .dataframe tbody tr th:only-of-type {\n',
 '        vertical-align: middle;\n',
 '    }\n',
 '\n',
 '    .dataframe tbody tr th {\n',
 '        vertical-align: top;\n',
 '    }\n',
 '\n',
 '    .dataframe thead th {\n',
 '        text-align: right;\n',
 '    }\n',
 '</style>\n',
 '<table border="1" class="dataframe">\n',
 '  <thead>\n',
 '    <tr style="text-align: right;">\n',
 '      <th></th>\n',
 '      <th>release_year</th>\n',
 '      <th>original_title</th>\n',
 '      <th>genres</th>\n',
 '      <th>director</th>\n',
 '      <th>profit</th>\n',
 '    </tr>\n',
 '  </thead>\n',
 '  <tbody>\n',
 '    <tr>\n',
 '      <th>10143</th>\n',
 '      <td>1960</td>\n',
 '      <td>Spartacus</td>\n',
 '      <td>Action|Drama|History</td>\n',
 '      <td>Stanley Kubrick</td>\n',
 '      <td>48000000</td>\n',
 '    </tr>\n',
 '    <tr>\n',
 '      <th>10110</th>\n',
 '      <td>1961</td>\n',
 '      <td>One Hundred and One Dalmatians</td>\n',
 '      <td>Adventure|Animation|Comedy|Family</td>\n',
 '      <td>Clyde Geronimi|Hamilton Luske|Wolfgang Reitherman</td>\n',
 '      <td>211880014</td>\n',
 '    </tr>\n',
 '    <tr>\n',
 '      <th>9849</th>\n',
 '      <td>1962</td>\n',
 '      <td>Dr. No</td>\n',
 '      <td>Adventure|Action|Thriller</td>\n',
 '      <td>Terence Young</td>\n',
 '      <td>58500000</td>\n',
 '    </tr>\n',
 '    <tr>\n',
 '      <th>10438</th>\n',
 '      <td>1963</td>\n',
 '      <td>From Russia With Love</td>\n',
 '      <td>Action|Thriller|Adventure</td>\n',
 '      <td>Terence Young</td>\n',
 '      <td>76398765</td>\n',
 '    </tr>\n',
 '    <tr>\n',
 '      <th>9881</th>\n',
 '      <td>1964</td>\n',
 '      <td>Goldfinger</td>\n',
 '      <td>Adventure|Action|Thriller</td>\n',
 '      <td>Guy Hamilton</td>\n',
 '      <td>121400000</td>\n',
 '    </tr>\n',
 '    <tr>\n',
 '      <th>10690</th>\n',
 '      <td>1965</td>\n',
 '      <td>The Sound of Music</td>\n',
 '      <td>Drama|Family|Music|Romance</td>\n',
 '      <td>Robert Wise</td>\n',
 '      <td>155014286</td>\n',
 '    </tr>\n',
 '    <tr>\n',
 '      <th>10822</th>\n',
 '      <td>1966</td>\n',
 "      <td>Who's Afraid of Virginia Woolf?</td>\n",
 '      <td>Drama</td>\n',
 '      <td>Mike Nichols</td>\n',
 '      <td>26236689</td>\n',
 '    </tr>\n',
 '    <tr>\n',
 '      <th>10398</th>\n',
 '      <td>1967</td>\n',
 '      <td>The Jungle Book</td>\n',
 '      <td>Family|Animation|Adventure</td>\n',
 '      <td>Wolfgang Reitherman</td>\n',
 '      <td>201843612</td>\n',
 '    </tr>\n',
 '    <tr>\n',
 '      <th>9719</th>\n',
 '      <td>1968</td>\n',
 '      <td>2001: A Space Odyssey</td>\n',
 '      <td>Science Fiction|Mystery|Adventure</td>\n',
 '      <td>Stanley Kubrick</td>\n',
 '      <td>44715371</td>\n',
 '    </tr>\n',
 '    <tr>\n',
 '      <th>10725</th>\n',
 '      <td>1969</td>\n',
 '      <td>Butch Cassidy and the Sundance Kid</td>\n',
 '      <td>History|Drama|Western|Crime</td>\n',
 '      <td>George Roy Hill</td>\n',
 '      <td>96308889</td>\n',
 '    </tr>\n',
 '    <tr>\n',
 '      <th>10654</th>\n',
 '      <td>1970</td>\n',
 '      <td>Love Story</td>\n',
 '      <td>Drama|Romance</td>\n',
 '      <td>Arthur Hiller</td>\n',
 '      <td>134200000</td>\n',
 '    </tr>\n',
 '    <tr>\n',
 '      <th>9925</th>\n',
 '      <td>1971</td>\n',
 '      <td>Diamonds Are Forever</td>\n',
 '      <td>Adventure|Action|Thriller|Science Fiction</td>\n',
 '      <td>Guy Hamilton</td>\n',
 '      <td>108800000</td>\n',
 '    </tr>\n',
 '    <tr>\n',
 '      <th>7269</th>\n',
 '      <td>1972</td>\n',
 '      <td>The Godfather</td>\n',
 '      <td>Drama|Crime</td>\n',
 '      <td>Francis Ford Coppola</td>\n',
 '      <td>239066411</td>\n',
 '    </tr>\n',
 '    <tr>\n',
 '      <th>10594</th>\n',
 '      <td>1973</td>\n',
 '      <td>The Exorcist</td>\n',
 '      <td>Drama|Horror|Thriller</td>\n',
 '      <td>William Friedkin</td>\n',
 '      <td>433306145</td>\n',
 '    </tr>\n',
 '    <tr>\n',
 '      <th>9767</th>\n',
 '      <td>1974</td>\n',
 '      <td>Blazing Saddles</td>\n',
 '      <td>Comedy|Western</td>\n',
 '      <td>Mel Brooks</td>\n',
 '      <td>116900000</td>\n',
 '    </tr>\n',
 '    <tr>\n',
 '      <th>9806</th>\n',
 '      <td>1975</td>\n',
 '      <td>Jaws</td>\n',
 '      <td>Horror|Thriller|Adventure</td>\n',
 '      <td>Steven Spielberg</td>\n',
 '      <td>463654000</td>\n',
 '    </tr>\n',
 '    <tr>\n',
 '      <th>10208</th>\n',
 '      <td>1976</td>\n',
 '      <td>A Star Is Born</td>\n',
 '      <td>Drama|Music|Romance</td>\n',
 '      <td>Frank Pierson</td>\n',
 '      <td>155000000</td>\n',
 '    </tr>\n',
 '    <tr>\n',
 '      <th>1329</th>\n',
 '      <td>1977</td>\n',
 '      <td>Star Wars</td>\n',
 '      <td>Adventure|Action|Science Fiction</td>\n',
 '      <td>George Lucas</td>\n',
 '      <td>764398007</td>\n',
 '    </tr>\n',
 '    <tr>\n',
 '      <th>10758</th>\n',
 '      <td>1978</td>\n',
 '      <td>Superman</td>\n',
 '      <td>Adventure|Fantasy|Action|Science Fiction</td>\n',
 '      <td>Richard Donner</td>\n',
 '      <td>245218018</td>\n',
 '    </tr>\n',
 '    <tr>\n',
 '      <th>7833</th>\n',
 '      <td>1979</td>\n',
 '      <td>Rocky II</td>\n',
 '      <td>Drama</td>\n',
 '      <td>Sylvester Stallone</td>\n',
 '      <td>193182160</td>\n',
 '    </tr>\n',
 '    <tr>\n',
 '      <th>7309</th>\n',
 '      <td>1980</td>\n',
 '      <td>The Empire Strikes Back</td>\n',
 '      <td>Adventure|Action|Science Fiction</td>\n',
 '      <td>Irvin Kershner</td>\n',
 '      <td>520400000</td>\n',
 '    </tr>\n',
 '    <tr>\n',
 '      <th>8375</th>\n',
 '      <td>1981</td>\n',
 '      <td>Raiders of the Lost Ark</td>\n',
 '      <td>Adventure|Action</td>\n',
 '      <td>Steven Spielberg</td>\n',
 '      <td>371925971</td>\n',
 '    </tr>\n',
 '    <tr>\n',
 '      <th>8889</th>\n',
 '      <td>1982</td>\n',
 '      <td>E.T. the Extra-Terrestrial</td>\n',
 '      <td>Science Fiction|Adventure|Family|Fantasy</td>\n',
 '      <td>Steven Spielberg</td>\n',
 '      <td>782410554</td>\n',
 '    </tr>\n',
 '    <tr>\n',
 '      <th>7987</th>\n',
 '      <td>1983</td>\n',
 '      <td>Return of the Jedi</td>\n',
 '      <td>Adventure|Action|Science Fiction</td>\n',
 '      <td>Richard Marquand</td>\n',
 '      <td>540350000</td>\n',
 '    </tr>\n',
 '    <tr>\n',
 '      <th>7883</th>\n',
 '      <td>1984</td>\n',
 '      <td>Indiana Jones and the Temple of Doom</td>\n',
 '      <td>Adventure|Action</td>\n',
 '      <td>Steven Spielberg</td>\n',
 '      <td>305000000</td>\n',
 '    </tr>\n',
 '    <tr>\n',
 '      <th>6081</th>\n',
 '      <td>1985</td>\n',
 '      <td>Back to the Future</td>\n',
 '      <td>Adventure|Comedy|Science Fiction|Family</td>\n',
 '      <td>Robert Zemeckis</td>\n',
 '      <td>362109762</td>\n',
 '    </tr>\n',
 '    <tr>\n',

In [ ]:
#lines

In [10]:
#join the all the element sin lines list witn @@@ at the end of each line to perform operations
content_joined="@@@".join(lines)

#use this below to split at @@@ and then save it to a md file
#content_joined.split('@@@')

In [11]:
content_joined

'\n@@@ \n@@@\n@@@<a id=\'top\'> </a>\n@@@This project explores the TMDb movie data set from Udacity\'s curated data site. \n@@@The dataset is also attached in the data folder. The data set contains information on approximately 10,000 movies.\n@@@Also brief overview can be found [here](#overview).\n@@@<br>\n@@@<br>\n@@@Questions that will be investigated:\n@@@<br>[What were the 10 most profitable movies?](#link_01)\n@@@<br>[Find the most profitable movie in each genre?](#link_02)\n@@@<br>[What were the most profitable movies in each year?](#link_03)\n@@@<br>[What is the average lenght of movies in each genre?](#link_04)\n@@@<br>[Who are the top 10 most common movie directors?](#link_05)\n@@@<br>[Which movie directors made movies that made the most profit?](#link_06)\n@@@<br>[List the most profitable movie director in each genre?](#link_07)\n@@@<br>[Are there any directors that standout and appear in  multiple genres for the top 10 movies directored? ](#link_08)\n@@@\n@@@<br>\n@@@Assumptions: While exploring the dataset, I assumed that : <br>\n@@@                profitablity of a movie = revenue  - budget\n@@@\n@@@<br> References can be found [here](#reference).\n@@@\n@@@\n@@@ \n@@@\n@@@\n@@@```python\n@@@\n@@@```\n@@@\n@@@\n@@@```python\n@@@import numpy as np\n@@@import pandas as pd\n@@@import matplotlib as mpl\n@@@import matplotlib.pyplot as plt\n@@@import seaborn as sns\n@@@sns.set(style="whitegrid", color_codes=True)\n@@@import ipywidgets as wg\n@@@from ipywidgets import interact, interactive, fixed, interact_manual\n@@@from IPython.display import display\n@@@\n@@@%matplotlib inline\n@@@```\n@@@\n@@@\n@@@```python\n@@@\n@@@```\n@@@\n@@@\n@@@```python\n@@@#Function reads the movie dataset and formats the date\n@@@def read_format_file():\n@@@    tmp=pd.read_csv(\'data/tmdb-movies.csv\')\n@@@\n@@@    #convert release date to date format\n@@@    release_date=pd.to_datetime(tmp[\'release_date\'])\n@@@\n@@@    #add a profit column \n@@@    tmp[\'profit\']=tmp.revenue-tmp.budget\n@@@    \n@@@    return tmp\n@@@```\n@@@\n@@@\n@@@```python\n@@@df=read_format_file()\n@@@#df.head(2)\n@@@df.info()\n@@@```\n@@@\n@@@    <class \'pandas.core.frame.DataFrame\'>\n@@@    RangeIndex: 10866 entries, 0 to 10865\n@@@    Data columns (total 22 columns):\n@@@    id                      10866 non-null int64\n@@@    imdb_id                 10856 non-null object\n@@@    popularity              10866 non-null float64\n@@@    budget                  10866 non-null int64\n@@@    revenue                 10866 non-null int64\n@@@    original_title          10866 non-null object\n@@@    cast                    10790 non-null object\n@@@    homepage                2936 non-null object\n@@@    director                10822 non-null object\n@@@    tagline                 8042 non-null object\n@@@    keywords                9373 non-null object\n@@@    overview                10862 non-null object\n@@@    runtime                 10866 non-null int64\n@@@    genres                  10843 non-null object\n@@@    production_companies    9836 non-null object\n@@@    release_date            10866 non-null object\n@@@    vote_count              10866 non-null int64\n@@@    vote_average            10866 non-null float64\n@@@    release_year            10866 non-null int64\n@@@    budget_adj              10866 non-null float64\n@@@    revenue_adj             10866 non-null float64\n@@@    profit                  10866 non-null int64\n@@@    dtypes: float64(4), int64(7), object(11)\n@@@    memory usage: 1.8+ MB\n@@@    \n@@@\n@@@<a id=\'overview\'> </a>\n@@@\n@@@## Brief Overview of the Dataset\n@@@[Go to top](#top)\n@@@\n@@@\n@@@\n@@@```python\n@@@print(\'The movies analyzed are from \', df.release_year.min(),\' to \',df.release_year.max(),\'.\',sep=\'\',end=\'\')\n@@@\n@@@print(\' The most profitable movie is \',df.iloc[df.profit.idxmax()].original_title,\' with a budget of \',\n@@@      \'${:,.2f}\'.format(df.iloc[df.profit.idxmax()].budget),\' and revenue of \',\n@@@      \'${:,.2f}\'.format(df.iloc[df.profit.idxmax()].revenue),\' and profit of \',\n@@@      \'${:,.2f}\'.format(df.iloc[df.profit.idxmax()].profit),\'.\',sep=\'\', end=\'\')\n@@@\n@@@print(\' \',df.iloc[df.profit.idxmin()].original_title,\' was a finacial disaster as it lost \',\n@@@      \'${:,.2f}\'.format(abs(df.iloc[df.profit.idxmin()].profit)),\'.\', sep=\'\',end=\'\')\n@@@\n@@@#print(\' next line test\') \n@@@```\n@@@\n@@@    The movies analyzed are from 1960 to 2015. The most profitable movie is Avatar with a budget of $237,000,000.00 and revenue of $2,781,505,847.00 and profit of $2,544,505,847.00. The Warrior\'s Way was a finacial disaster as it lost $413,912,431.00.\n@@@\n@@@\n@@@```python\n@@@\n@@@```\n@@@\n@@@<a id=\'link_01\'> </a>\n@@@## What were the 10 most profitable movies?\n@@@[Go to top](#top)\n@@@\n@@@\n@@@```python\n@@@#input: function takes the movie dataset and n - the top n number of profitable movies\n@@@#process: function finds the most profitable movies\n@@@#out: function returns a graph of most profitable movies\n@@@def top_profitable_movies(df,n):\n@@@    tmp_01=df.sort_values(by=[\'profit\'],ascending=False)[[\'original_title\',\'release_year\',\'profit\']].head(n)\n@@@    f, ax = plt.subplots(figsize=(10, 3))\n@@@    ax=sns.stripplot(x="original_title", y=\'profit\',hue=\'release_year\',data=tmp_01)\n@@@    ax.set_xticklabels(ax.get_xticklabels(),rotation=90,fontsize=15)\n@@@    ax.set_title(\'Figure 01:Top \'+ str(n) + \' Profitable Movies\',fontsize=20)\n@@@    ax.set_xlabel(\'Movie Names\')\n@@@    ax.set_ylabel(\'Profit Generated $\');\n@@@\n@@@```\n@@@\n@@@\n@@@```python\n@@@top_profitable_movies(df,10)\n@@@```\n@@@\n@@@\n@@@![png](project_03_01_files/project_03_01_13_0.png)\n@@@\n@@@\n@@@Observation: As stated earlier, Avatar was the most profitable move that came out in 2009.Year 2015 was exciting for movie goers\n@@@as there were 4 movies that attracted a lot of attention: Starwars:The Force Awakens, Jurassic World, Furious 7 and Avengers:Age of Ultron.\n@@@\n@@@\n@@@\n@@@```python\n@@@\n@@@```\n@@@\n@@@<a id=\'link_02\'> </a>\n@@@## Find the most profitable movie in each genre?\n@@@[Go to top](#top)\n@@@\n@@@\n@@@```python\n@@@#input: function takes in the movie dataset\n@@@#process: calculates the most profitable movie in each genre\n@@@#output: returns a dataframe of most profitable movie in each genre\n@@@def profitable_movies_in_each_genre(df):\n@@@    genres=df[\'genres\'].str.split(\'|\', expand=True) #split the genres by |\n@@@    tmp_01=pd.concat([df.profit,df.release_year,df.original_title,genres],axis=1) \n@@@    #melt the genres columns into one column \n@@@    tmp_02=pd.melt(tmp_01,id_vars=[\'profit\',\'release_year\',\'original_title\'],value_name=\'genre\') \n@@@    tmp_02=tmp_02.drop(columns=[\'variable\']) #drop variable column generated during melt\n@@@    tmp_02=tmp_02.loc[tmp_02.genre.notna()] # remove nan, None from genre column\n@@@    tmp_03=pd.concat([tmp_02.genre,tmp_02.profit],axis=1) #lets get the index first using only two columns\n@@@    ind=tmp_03.groupby([\'genre\']).idxmax().reset_index().profit.values #get the index of most profitable genres\n@@@    top_genres=tmp_02.loc[ind]\n@@@    return top_genres\n@@@```\n@@@\n@@@\n@@@```python\n@@@profitable_movies_in_each_genre(df)\n@@@```\n@@@\n@@@\n@@@\n@@@\n@@@<div>\n@@@<style scoped>\n@@@    .dataframe tbody tr th:only-of-type {\n@@@        vertical-align: middle;\n@@@    }\n@@@\n@@@    .dataframe tbody tr th {\n@@@        vertical-align: top;\n@@@    }\n@@@\n@@@    .dataframe thead th {\n@@@        text-align: right;\n@@@    }\n@@@</style>\n@@@<table border="1" class="dataframe">\n@@@  <thead>\n@@@    <tr style="text-align: right;">\n@@@      <th></th>\n@@@      <th>profit</th>\n@@@      <th>release_year</th>\n@@@      <th>original_title</th>\n@@@      <th>genre</th>\n@@@    </tr>\n@@@  </thead>\n@@@  <tbody>\n@@@    <tr>\n@@@      <th>1386</th>\n@@@      <td>2544505847</td>\n@@@      <td>2009</td>\n@@@      <td>Avatar</td>\n@@@      <td>Action</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>12252</th>\n@@@      <td>2544505847</td>\n@@@      <td>2009</td>\n@@@      <td>Avatar</td>\n@@@      <td>Adventure</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>5422</th>\n@@@      <td>1124219009</td>\n@@@      <td>2013</td>\n@@@      <td>Frozen</td>\n@@@      <td>Animation</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>32606</th>\n@@@      <td>1082730962</td>\n@@@      <td>2015</td>\n@@@      <td>Minions</td>\n@@@      <td>Comedy</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>10870</th>\n@@@      <td>1316249360</td>\n@@@      <td>2015</td>\n@@@      <td>Furious 7</td>\n@@@      <td>Crime</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>7049</th>\n@@@      <td>113114517</td>\n@@@      <td>2004</td>\n@@@      <td>Fahrenheit 9/11</td>\n@@@      <td>Documentary</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>5231</th>\n@@@      <td>1645034188</td>\n@@@      <td>1997</td>\n@@@      <td>Titanic</td>\n@@@      <td>Drama</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>14240</th>\n@@@      <td>1202817822</td>\n@@@      <td>2011</td>\n@@@      <td>Harry Potter and the Deathly Hallows: Part 2</td>\n@@@      <td>Family</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>23118</th>\n@@@      <td>2544505847</td>\n@@@      <td>2009</td>\n@@@      <td>Avatar</td>\n@@@      <td>Fantasy</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>24967</th>\n@@@      <td>66900000</td>\n@@@      <td>2008</td>\n@@@      <td>Ghajini</td>\n@@@      <td>Foreign</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>19840</th>\n@@@      <td>411840909</td>\n@@@      <td>1998</td>\n@@@      <td>Saving Private Ryan</td>\n@@@      <td>History</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>9806</th>\n@@@      <td>463654000</td>\n@@@      <td>1975</td>\n@@@      <td>Jaws</td>\n@@@      <td>Horror</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>40869</th>\n@@@      <td>386006740</td>\n@@@      <td>1992</td>\n@@@      <td>The Bodyguard</td>\n@@@      <td>Music</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>29826</th>\n@@@      <td>1084279658</td>\n@@@      <td>1995</td>\n@@@      <td>The Net</td>\n@@@      <td>Mystery</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>16097</th>\n@@@      <td>1645034188</td>\n@@@      <td>1997</td>\n@@@      <td>Titanic</td>\n@@@      <td>Romance</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>33984</th>\n@@@      <td>2544505847</td>\n@@@      <td>2009</td>\n@@@      <td>Avatar</td>\n@@@      <td>Science Fiction</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>8615</th>\n@@@      <td>37000000</td>\n@@@      <td>1996</td>\n@@@      <td>Doctor Who</td>\n@@@      <td>TV Movie</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>26963</th>\n@@@      <td>1645034188</td>\n@@@      <td>1997</td>\n@@@      <td>Titanic</td>\n@@@      <td>Thriller</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>19</th>\n@@@      <td>490523427</td>\n@@@      <td>2015</td>\n@@@      <td>The Hunger Games: Mockingjay - Part 2</td>\n@@@      <td>War</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>31717</th>\n@@@      <td>402208848</td>\n@@@      <td>1990</td>\n@@@      <td>Dances with Wolves</td>\n@@@      <td>Western</td>\n@@@    </tr>\n@@@  </tbody>\n@@@</table>\n@@@</div>\n@@@\n@@@\n@@@\n@@@Observation:Avatar (2009) was profitable in multiple genres: action, adventure, fantasy and sciene fiction. Its interesting to see that Jaws which came out in 1975 was most profitable in horror genre considering it was a very old movie but still holding its ground.Also, interesting to note that Titanic was most profitable in drama, romance and thriller. It seems that top profitable movies are profitable in multiple genres - although this could be further investigated. \n@@@\n@@@\n@@@```python\n@@@\n@@@```\n@@@\n@@@<a id=\'link_03\'> </a>\n@@@## What were the most profitable movies in each year?\n@@@[Go to top](#top)\n@@@\n@@@\n@@@```python\n@@@#input: function takes the movie dataset\n@@@#process: function calculates the most profitable movie each year\n@@@#out: function returns a dataframe of most profitable movies per year\n@@@def profitable_movie_per_year(df):\n@@@    ind=df.groupby(\'release_year\')[\'profit\'].idxmax().values\n@@@    top_yearly_movies=df.iloc[ind][[\'release_year\',\'original_title\',\'genres\',\'director\',\'profit\']]\n@@@    return top_yearly_movies\n@@@```\n@@@\n@@@\n@@@```python\n@@@profitable_movie_per_year(df)\n@@@```\n@@@\n@@@\n@@@\n@@@\n@@@<div>\n@@@<style scoped>\n@@@    .dataframe tbody tr th:only-of-type {\n@@@        vertical-align: middle;\n@@@    }\n@@@\n@@@    .dataframe tbody tr th {\n@@@        vertical-align: top;\n@@@    }\n@@@\n@@@    .dataframe thead th {\n@@@        text-align: right;\n@@@    }\n@@@</style>\n@@@<table border="1" class="dataframe">\n@@@  <thead>\n@@@    <tr style="text-align: right;">\n@@@      <th></th>\n@@@      <th>release_year</th>\n@@@      <th>original_title</th>\n@@@      <th>genres</th>\n@@@      <th>director</th>\n@@@      <th>profit</th>\n@@@    </tr>\n@@@  </thead>\n@@@  <tbody>\n@@@    <tr>\n@@@      <th>10143</th>\n@@@      <td>1960</td>\n@@@      <td>Spartacus</td>\n@@@      <td>Action|Drama|History</td>\n@@@      <td>Stanley Kubrick</td>\n@@@      <td>48000000</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>10110</th>\n@@@      <td>1961</td>\n@@@      <td>One Hundred and One Dalmatians</td>\n@@@      <td>Adventure|Animation|Comedy|Family</td>\n@@@      <td>Clyde Geronimi|Hamilton Luske|Wolfgang Reitherman</td>\n@@@      <td>211880014</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>9849</th>\n@@@      <td>1962</td>\n@@@      <td>Dr. No</td>\n@@@      <td>Adventure|Action|Thriller</td>\n@@@      <td>Terence Young</td>\n@@@      <td>58500000</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>10438</th>\n@@@      <td>1963</td>\n@@@      <td>From Russia With Love</td>\n@@@      <td>Action|Thriller|Adventure</td>\n@@@      <td>Terence Young</td>\n@@@      <td>76398765</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>9881</th>\n@@@      <td>1964</td>\n@@@      <td>Goldfinger</td>\n@@@      <td>Adventure|Action|Thriller</td>\n@@@      <td>Guy Hamilton</td>\n@@@      <td>121400000</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>10690</th>\n@@@      <td>1965</td>\n@@@      <td>The Sound of Music</td>\n@@@      <td>Drama|Family|Music|Romance</td>\n@@@      <td>Robert Wise</td>\n@@@      <td>155014286</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>10822</th>\n@@@      <td>1966</td>\n@@@      <td>Who\'s Afraid of Virginia Woolf?</td>\n@@@      <td>Drama</td>\n@@@      <td>Mike Nichols</td>\n@@@      <td>26236689</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>10398</th>\n@@@      <td>1967</td>\n@@@      <td>The Jungle Book</td>\n@@@      <td>Family|Animation|Adventure</td>\n@@@      <td>Wolfgang Reitherman</td>\n@@@      <td>201843612</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>9719</th>\n@@@      <td>1968</td>\n@@@      <td>2001: A Space Odyssey</td>\n@@@      <td>Science Fiction|Mystery|Adventure</td>\n@@@      <td>Stanley Kubrick</td>\n@@@      <td>44715371</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>10725</th>\n@@@      <td>1969</td>\n@@@      <td>Butch Cassidy and the Sundance Kid</td>\n@@@      <td>History|Drama|Western|Crime</td>\n@@@      <td>George Roy Hill</td>\n@@@      <td>96308889</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>10654</th>\n@@@      <td>1970</td>\n@@@      <td>Love Story</td>\n@@@      <td>Drama|Romance</td>\n@@@      <td>Arthur Hiller</td>\n@@@      <td>134200000</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>9925</th>\n@@@      <td>1971</td>\n@@@      <td>Diamonds Are Forever</td>\n@@@      <td>Adventure|Action|Thriller|Science Fiction</td>\n@@@      <td>Guy Hamilton</td>\n@@@      <td>108800000</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>7269</th>\n@@@      <td>1972</td>\n@@@      <td>The Godfather</td>\n@@@      <td>Drama|Crime</td>\n@@@      <td>Francis Ford Coppola</td>\n@@@      <td>239066411</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>10594</th>\n@@@      <td>1973</td>\n@@@      <td>The Exorcist</td>\n@@@      <td>Drama|Horror|Thriller</td>\n@@@      <td>William Friedkin</td>\n@@@      <td>433306145</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>9767</th>\n@@@      <td>1974</td>\n@@@      <td>Blazing Saddles</td>\n@@@      <td>Comedy|Western</td>\n@@@      <td>Mel Brooks</td>\n@@@      <td>116900000</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>9806</th>\n@@@      <td>1975</td>\n@@@      <td>Jaws</td>\n@@@      <td>Horror|Thriller|Adventure</td>\n@@@      <td>Steven Spielberg</td>\n@@@      <td>463654000</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>10208</th>\n@@@      <td>1976</td>\n@@@      <td>A Star Is Born</td>\n@@@      <td>Drama|Music|Romance</td>\n@@@      <td>Frank Pierson</td>\n@@@      <td>155000000</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>1329</th>\n@@@      <td>1977</td>\n@@@      <td>Star Wars</td>\n@@@      <td>Adventure|Action|Science Fiction</td>\n@@@      <td>George Lucas</td>\n@@@      <td>764398007</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>10758</th>\n@@@      <td>1978</td>\n@@@      <td>Superman</td>\n@@@      <td>Adventure|Fantasy|Action|Science Fiction</td>\n@@@      <td>Richard Donner</td>\n@@@      <td>245218018</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>7833</th>\n@@@      <td>1979</td>\n@@@      <td>Rocky II</td>\n@@@      <td>Drama</td>\n@@@      <td>Sylvester Stallone</td>\n@@@      <td>193182160</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>7309</th>\n@@@      <td>1980</td>\n@@@      <td>The Empire Strikes Back</td>\n@@@      <td>Adventure|Action|Science Fiction</td>\n@@@      <td>Irvin Kershner</td>\n@@@      <td>520400000</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>8375</th>\n@@@      <td>1981</td>\n@@@      <td>Raiders of the Lost Ark</td>\n@@@      <td>Adventure|Action</td>\n@@@      <td>Steven Spielberg</td>\n@@@      <td>371925971</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>8889</th>\n@@@      <td>1982</td>\n@@@      <td>E.T. the Extra-Terrestrial</td>\n@@@      <td>Science Fiction|Adventure|Family|Fantasy</td>\n@@@      <td>Steven Spielberg</td>\n@@@      <td>782410554</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>7987</th>\n@@@      <td>1983</td>\n@@@      <td>Return of the Jedi</td>\n@@@      <td>Adventure|Action|Science Fiction</td>\n@@@      <td>Richard Marquand</td>\n@@@      <td>540350000</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>7883</th>\n@@@      <td>1984</td>\n@@@      <td>Indiana Jones and the Temple of Doom</td>\n@@@      <td>Adventure|Action</td>\n@@@      <td>Steven Spielberg</td>\n@@@      <td>305000000</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>6081</th>\n@@@      <td>1985</td>\n@@@      <td>Back to the Future</td>\n@@@      <td>Adventure|Comedy|Science Fiction|Family</td>\n@@@      <td>Robert Zemeckis</td>\n@@@      <td>362109762</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>10475</th>\n@@@      <td>1986</td>\n@@@      <td>Top Gun</td>\n@@@      <td>Drama|Action|Romance</td>\n@@@      <td>Tony Scott</td>\n@@@      <td>341830601</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>9613</th>\n@@@      <td>1987</td>\n@@@      <td>Fatal Attraction</td>\n@@@      <td>Horror|Drama|Romance|Thriller</td>\n@@@      <td>Adrian Lyne</td>\n@@@      <td>306145693</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>9454</th>\n@@@      <td>1988</td>\n@@@      <td>Rain Man</td>\n@@@      <td>Drama</td>\n@@@      <td>Barry Levinson</td>\n@@@      <td>329825435</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>9180</th>\n@@@      <td>1989</td>\n@@@      <td>Indiana Jones and the Last Crusade</td>\n@@@      <td>Adventure|Action</td>\n@@@      <td>Steven Spielberg</td>\n@@@      <td>426171806</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>9986</th>\n@@@      <td>1990</td>\n@@@      <td>Ghost</td>\n@@@      <td>Fantasy|Drama|Thriller|Mystery|Romance</td>\n@@@      <td>Jerry Zucker</td>\n@@@      <td>483000000</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>9317</th>\n@@@      <td>1991</td>\n@@@      <td>Terminator 2: Judgment Day</td>\n@@@      <td>Action|Thriller|Sc

In [12]:
#backup for test purposes
tmp=content_joined
#content_joined=tmp

In [13]:
#old image link
#project_03_01_files/project_03_01_13_0.png

#new image link
#images/project_03_01_files/project_03_01_13_0.png

#updated_image_link='images/'+subfolder_name+'/'+image_names[0]
#content_joined.replace(images_folder_name+'/'+image_names[0],updated_image_link)


#replace the image names with proper links+names
for i in image_names:
    #generate new links for md file
    updated_image_link='images/'+subfolder_name+'/'+i
    #replace the image name with proper image link
    content_joined=content_joined.replace(images_folder_name+'/'+i,updated_image_link)

In [14]:
content_joined

'\n@@@ \n@@@\n@@@<a id=\'top\'> </a>\n@@@This project explores the TMDb movie data set from Udacity\'s curated data site. \n@@@The dataset is also attached in the data folder. The data set contains information on approximately 10,000 movies.\n@@@Also brief overview can be found [here](#overview).\n@@@<br>\n@@@<br>\n@@@Questions that will be investigated:\n@@@<br>[What were the 10 most profitable movies?](#link_01)\n@@@<br>[Find the most profitable movie in each genre?](#link_02)\n@@@<br>[What were the most profitable movies in each year?](#link_03)\n@@@<br>[What is the average lenght of movies in each genre?](#link_04)\n@@@<br>[Who are the top 10 most common movie directors?](#link_05)\n@@@<br>[Which movie directors made movies that made the most profit?](#link_06)\n@@@<br>[List the most profitable movie director in each genre?](#link_07)\n@@@<br>[Are there any directors that standout and appear in  multiple genres for the top 10 movies directored? ](#link_08)\n@@@\n@@@<br>\n@@@Assumptions: While exploring the dataset, I assumed that : <br>\n@@@                profitablity of a movie = revenue  - budget\n@@@\n@@@<br> References can be found [here](#reference).\n@@@\n@@@\n@@@ \n@@@\n@@@\n@@@```python\n@@@\n@@@```\n@@@\n@@@\n@@@```python\n@@@import numpy as np\n@@@import pandas as pd\n@@@import matplotlib as mpl\n@@@import matplotlib.pyplot as plt\n@@@import seaborn as sns\n@@@sns.set(style="whitegrid", color_codes=True)\n@@@import ipywidgets as wg\n@@@from ipywidgets import interact, interactive, fixed, interact_manual\n@@@from IPython.display import display\n@@@\n@@@%matplotlib inline\n@@@```\n@@@\n@@@\n@@@```python\n@@@\n@@@```\n@@@\n@@@\n@@@```python\n@@@#Function reads the movie dataset and formats the date\n@@@def read_format_file():\n@@@    tmp=pd.read_csv(\'data/tmdb-movies.csv\')\n@@@\n@@@    #convert release date to date format\n@@@    release_date=pd.to_datetime(tmp[\'release_date\'])\n@@@\n@@@    #add a profit column \n@@@    tmp[\'profit\']=tmp.revenue-tmp.budget\n@@@    \n@@@    return tmp\n@@@```\n@@@\n@@@\n@@@```python\n@@@df=read_format_file()\n@@@#df.head(2)\n@@@df.info()\n@@@```\n@@@\n@@@    <class \'pandas.core.frame.DataFrame\'>\n@@@    RangeIndex: 10866 entries, 0 to 10865\n@@@    Data columns (total 22 columns):\n@@@    id                      10866 non-null int64\n@@@    imdb_id                 10856 non-null object\n@@@    popularity              10866 non-null float64\n@@@    budget                  10866 non-null int64\n@@@    revenue                 10866 non-null int64\n@@@    original_title          10866 non-null object\n@@@    cast                    10790 non-null object\n@@@    homepage                2936 non-null object\n@@@    director                10822 non-null object\n@@@    tagline                 8042 non-null object\n@@@    keywords                9373 non-null object\n@@@    overview                10862 non-null object\n@@@    runtime                 10866 non-null int64\n@@@    genres                  10843 non-null object\n@@@    production_companies    9836 non-null object\n@@@    release_date            10866 non-null object\n@@@    vote_count              10866 non-null int64\n@@@    vote_average            10866 non-null float64\n@@@    release_year            10866 non-null int64\n@@@    budget_adj              10866 non-null float64\n@@@    revenue_adj             10866 non-null float64\n@@@    profit                  10866 non-null int64\n@@@    dtypes: float64(4), int64(7), object(11)\n@@@    memory usage: 1.8+ MB\n@@@    \n@@@\n@@@<a id=\'overview\'> </a>\n@@@\n@@@## Brief Overview of the Dataset\n@@@[Go to top](#top)\n@@@\n@@@\n@@@\n@@@```python\n@@@print(\'The movies analyzed are from \', df.release_year.min(),\' to \',df.release_year.max(),\'.\',sep=\'\',end=\'\')\n@@@\n@@@print(\' The most profitable movie is \',df.iloc[df.profit.idxmax()].original_title,\' with a budget of \',\n@@@      \'${:,.2f}\'.format(df.iloc[df.profit.idxmax()].budget),\' and revenue of \',\n@@@      \'${:,.2f}\'.format(df.iloc[df.profit.idxmax()].revenue),\' and profit of \',\n@@@      \'${:,.2f}\'.format(df.iloc[df.profit.idxmax()].profit),\'.\',sep=\'\', end=\'\')\n@@@\n@@@print(\' \',df.iloc[df.profit.idxmin()].original_title,\' was a finacial disaster as it lost \',\n@@@      \'${:,.2f}\'.format(abs(df.iloc[df.profit.idxmin()].profit)),\'.\', sep=\'\',end=\'\')\n@@@\n@@@#print(\' next line test\') \n@@@```\n@@@\n@@@    The movies analyzed are from 1960 to 2015. The most profitable movie is Avatar with a budget of $237,000,000.00 and revenue of $2,781,505,847.00 and profit of $2,544,505,847.00. The Warrior\'s Way was a finacial disaster as it lost $413,912,431.00.\n@@@\n@@@\n@@@```python\n@@@\n@@@```\n@@@\n@@@<a id=\'link_01\'> </a>\n@@@## What were the 10 most profitable movies?\n@@@[Go to top](#top)\n@@@\n@@@\n@@@```python\n@@@#input: function takes the movie dataset and n - the top n number of profitable movies\n@@@#process: function finds the most profitable movies\n@@@#out: function returns a graph of most profitable movies\n@@@def top_profitable_movies(df,n):\n@@@    tmp_01=df.sort_values(by=[\'profit\'],ascending=False)[[\'original_title\',\'release_year\',\'profit\']].head(n)\n@@@    f, ax = plt.subplots(figsize=(10, 3))\n@@@    ax=sns.stripplot(x="original_title", y=\'profit\',hue=\'release_year\',data=tmp_01)\n@@@    ax.set_xticklabels(ax.get_xticklabels(),rotation=90,fontsize=15)\n@@@    ax.set_title(\'Figure 01:Top \'+ str(n) + \' Profitable Movies\',fontsize=20)\n@@@    ax.set_xlabel(\'Movie Names\')\n@@@    ax.set_ylabel(\'Profit Generated $\');\n@@@\n@@@```\n@@@\n@@@\n@@@```python\n@@@top_profitable_movies(df,10)\n@@@```\n@@@\n@@@\n@@@![png](images/project_03_01/project_03_01_13_0.png)\n@@@\n@@@\n@@@Observation: As stated earlier, Avatar was the most profitable move that came out in 2009.Year 2015 was exciting for movie goers\n@@@as there were 4 movies that attracted a lot of attention: Starwars:The Force Awakens, Jurassic World, Furious 7 and Avengers:Age of Ultron.\n@@@\n@@@\n@@@\n@@@```python\n@@@\n@@@```\n@@@\n@@@<a id=\'link_02\'> </a>\n@@@## Find the most profitable movie in each genre?\n@@@[Go to top](#top)\n@@@\n@@@\n@@@```python\n@@@#input: function takes in the movie dataset\n@@@#process: calculates the most profitable movie in each genre\n@@@#output: returns a dataframe of most profitable movie in each genre\n@@@def profitable_movies_in_each_genre(df):\n@@@    genres=df[\'genres\'].str.split(\'|\', expand=True) #split the genres by |\n@@@    tmp_01=pd.concat([df.profit,df.release_year,df.original_title,genres],axis=1) \n@@@    #melt the genres columns into one column \n@@@    tmp_02=pd.melt(tmp_01,id_vars=[\'profit\',\'release_year\',\'original_title\'],value_name=\'genre\') \n@@@    tmp_02=tmp_02.drop(columns=[\'variable\']) #drop variable column generated during melt\n@@@    tmp_02=tmp_02.loc[tmp_02.genre.notna()] # remove nan, None from genre column\n@@@    tmp_03=pd.concat([tmp_02.genre,tmp_02.profit],axis=1) #lets get the index first using only two columns\n@@@    ind=tmp_03.groupby([\'genre\']).idxmax().reset_index().profit.values #get the index of most profitable genres\n@@@    top_genres=tmp_02.loc[ind]\n@@@    return top_genres\n@@@```\n@@@\n@@@\n@@@```python\n@@@profitable_movies_in_each_genre(df)\n@@@```\n@@@\n@@@\n@@@\n@@@\n@@@<div>\n@@@<style scoped>\n@@@    .dataframe tbody tr th:only-of-type {\n@@@        vertical-align: middle;\n@@@    }\n@@@\n@@@    .dataframe tbody tr th {\n@@@        vertical-align: top;\n@@@    }\n@@@\n@@@    .dataframe thead th {\n@@@        text-align: right;\n@@@    }\n@@@</style>\n@@@<table border="1" class="dataframe">\n@@@  <thead>\n@@@    <tr style="text-align: right;">\n@@@      <th></th>\n@@@      <th>profit</th>\n@@@      <th>release_year</th>\n@@@      <th>original_title</th>\n@@@      <th>genre</th>\n@@@    </tr>\n@@@  </thead>\n@@@  <tbody>\n@@@    <tr>\n@@@      <th>1386</th>\n@@@      <td>2544505847</td>\n@@@      <td>2009</td>\n@@@      <td>Avatar</td>\n@@@      <td>Action</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>12252</th>\n@@@      <td>2544505847</td>\n@@@      <td>2009</td>\n@@@      <td>Avatar</td>\n@@@      <td>Adventure</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>5422</th>\n@@@      <td>1124219009</td>\n@@@      <td>2013</td>\n@@@      <td>Frozen</td>\n@@@      <td>Animation</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>32606</th>\n@@@      <td>1082730962</td>\n@@@      <td>2015</td>\n@@@      <td>Minions</td>\n@@@      <td>Comedy</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>10870</th>\n@@@      <td>1316249360</td>\n@@@      <td>2015</td>\n@@@      <td>Furious 7</td>\n@@@      <td>Crime</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>7049</th>\n@@@      <td>113114517</td>\n@@@      <td>2004</td>\n@@@      <td>Fahrenheit 9/11</td>\n@@@      <td>Documentary</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>5231</th>\n@@@      <td>1645034188</td>\n@@@      <td>1997</td>\n@@@      <td>Titanic</td>\n@@@      <td>Drama</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>14240</th>\n@@@      <td>1202817822</td>\n@@@      <td>2011</td>\n@@@      <td>Harry Potter and the Deathly Hallows: Part 2</td>\n@@@      <td>Family</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>23118</th>\n@@@      <td>2544505847</td>\n@@@      <td>2009</td>\n@@@      <td>Avatar</td>\n@@@      <td>Fantasy</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>24967</th>\n@@@      <td>66900000</td>\n@@@      <td>2008</td>\n@@@      <td>Ghajini</td>\n@@@      <td>Foreign</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>19840</th>\n@@@      <td>411840909</td>\n@@@      <td>1998</td>\n@@@      <td>Saving Private Ryan</td>\n@@@      <td>History</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>9806</th>\n@@@      <td>463654000</td>\n@@@      <td>1975</td>\n@@@      <td>Jaws</td>\n@@@      <td>Horror</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>40869</th>\n@@@      <td>386006740</td>\n@@@      <td>1992</td>\n@@@      <td>The Bodyguard</td>\n@@@      <td>Music</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>29826</th>\n@@@      <td>1084279658</td>\n@@@      <td>1995</td>\n@@@      <td>The Net</td>\n@@@      <td>Mystery</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>16097</th>\n@@@      <td>1645034188</td>\n@@@      <td>1997</td>\n@@@      <td>Titanic</td>\n@@@      <td>Romance</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>33984</th>\n@@@      <td>2544505847</td>\n@@@      <td>2009</td>\n@@@      <td>Avatar</td>\n@@@      <td>Science Fiction</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>8615</th>\n@@@      <td>37000000</td>\n@@@      <td>1996</td>\n@@@      <td>Doctor Who</td>\n@@@      <td>TV Movie</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>26963</th>\n@@@      <td>1645034188</td>\n@@@      <td>1997</td>\n@@@      <td>Titanic</td>\n@@@      <td>Thriller</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>19</th>\n@@@      <td>490523427</td>\n@@@      <td>2015</td>\n@@@      <td>The Hunger Games: Mockingjay - Part 2</td>\n@@@      <td>War</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>31717</th>\n@@@      <td>402208848</td>\n@@@      <td>1990</td>\n@@@      <td>Dances with Wolves</td>\n@@@      <td>Western</td>\n@@@    </tr>\n@@@  </tbody>\n@@@</table>\n@@@</div>\n@@@\n@@@\n@@@\n@@@Observation:Avatar (2009) was profitable in multiple genres: action, adventure, fantasy and sciene fiction. Its interesting to see that Jaws which came out in 1975 was most profitable in horror genre considering it was a very old movie but still holding its ground.Also, interesting to note that Titanic was most profitable in drama, romance and thriller. It seems that top profitable movies are profitable in multiple genres - although this could be further investigated. \n@@@\n@@@\n@@@```python\n@@@\n@@@```\n@@@\n@@@<a id=\'link_03\'> </a>\n@@@## What were the most profitable movies in each year?\n@@@[Go to top](#top)\n@@@\n@@@\n@@@```python\n@@@#input: function takes the movie dataset\n@@@#process: function calculates the most profitable movie each year\n@@@#out: function returns a dataframe of most profitable movies per year\n@@@def profitable_movie_per_year(df):\n@@@    ind=df.groupby(\'release_year\')[\'profit\'].idxmax().values\n@@@    top_yearly_movies=df.iloc[ind][[\'release_year\',\'original_title\',\'genres\',\'director\',\'profit\']]\n@@@    return top_yearly_movies\n@@@```\n@@@\n@@@\n@@@```python\n@@@profitable_movie_per_year(df)\n@@@```\n@@@\n@@@\n@@@\n@@@\n@@@<div>\n@@@<style scoped>\n@@@    .dataframe tbody tr th:only-of-type {\n@@@        vertical-align: middle;\n@@@    }\n@@@\n@@@    .dataframe tbody tr th {\n@@@        vertical-align: top;\n@@@    }\n@@@\n@@@    .dataframe thead th {\n@@@        text-align: right;\n@@@    }\n@@@</style>\n@@@<table border="1" class="dataframe">\n@@@  <thead>\n@@@    <tr style="text-align: right;">\n@@@      <th></th>\n@@@      <th>release_year</th>\n@@@      <th>original_title</th>\n@@@      <th>genres</th>\n@@@      <th>director</th>\n@@@      <th>profit</th>\n@@@    </tr>\n@@@  </thead>\n@@@  <tbody>\n@@@    <tr>\n@@@      <th>10143</th>\n@@@      <td>1960</td>\n@@@      <td>Spartacus</td>\n@@@      <td>Action|Drama|History</td>\n@@@      <td>Stanley Kubrick</td>\n@@@      <td>48000000</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>10110</th>\n@@@      <td>1961</td>\n@@@      <td>One Hundred and One Dalmatians</td>\n@@@      <td>Adventure|Animation|Comedy|Family</td>\n@@@      <td>Clyde Geronimi|Hamilton Luske|Wolfgang Reitherman</td>\n@@@      <td>211880014</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>9849</th>\n@@@      <td>1962</td>\n@@@      <td>Dr. No</td>\n@@@      <td>Adventure|Action|Thriller</td>\n@@@      <td>Terence Young</td>\n@@@      <td>58500000</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>10438</th>\n@@@      <td>1963</td>\n@@@      <td>From Russia With Love</td>\n@@@      <td>Action|Thriller|Adventure</td>\n@@@      <td>Terence Young</td>\n@@@      <td>76398765</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>9881</th>\n@@@      <td>1964</td>\n@@@      <td>Goldfinger</td>\n@@@      <td>Adventure|Action|Thriller</td>\n@@@      <td>Guy Hamilton</td>\n@@@      <td>121400000</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>10690</th>\n@@@      <td>1965</td>\n@@@      <td>The Sound of Music</td>\n@@@      <td>Drama|Family|Music|Romance</td>\n@@@      <td>Robert Wise</td>\n@@@      <td>155014286</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>10822</th>\n@@@      <td>1966</td>\n@@@      <td>Who\'s Afraid of Virginia Woolf?</td>\n@@@      <td>Drama</td>\n@@@      <td>Mike Nichols</td>\n@@@      <td>26236689</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>10398</th>\n@@@      <td>1967</td>\n@@@      <td>The Jungle Book</td>\n@@@      <td>Family|Animation|Adventure</td>\n@@@      <td>Wolfgang Reitherman</td>\n@@@      <td>201843612</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>9719</th>\n@@@      <td>1968</td>\n@@@      <td>2001: A Space Odyssey</td>\n@@@      <td>Science Fiction|Mystery|Adventure</td>\n@@@      <td>Stanley Kubrick</td>\n@@@      <td>44715371</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>10725</th>\n@@@      <td>1969</td>\n@@@      <td>Butch Cassidy and the Sundance Kid</td>\n@@@      <td>History|Drama|Western|Crime</td>\n@@@      <td>George Roy Hill</td>\n@@@      <td>96308889</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>10654</th>\n@@@      <td>1970</td>\n@@@      <td>Love Story</td>\n@@@      <td>Drama|Romance</td>\n@@@      <td>Arthur Hiller</td>\n@@@      <td>134200000</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>9925</th>\n@@@      <td>1971</td>\n@@@      <td>Diamonds Are Forever</td>\n@@@      <td>Adventure|Action|Thriller|Science Fiction</td>\n@@@      <td>Guy Hamilton</td>\n@@@      <td>108800000</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>7269</th>\n@@@      <td>1972</td>\n@@@      <td>The Godfather</td>\n@@@      <td>Drama|Crime</td>\n@@@      <td>Francis Ford Coppola</td>\n@@@      <td>239066411</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>10594</th>\n@@@      <td>1973</td>\n@@@      <td>The Exorcist</td>\n@@@      <td>Drama|Horror|Thriller</td>\n@@@      <td>William Friedkin</td>\n@@@      <td>433306145</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>9767</th>\n@@@      <td>1974</td>\n@@@      <td>Blazing Saddles</td>\n@@@      <td>Comedy|Western</td>\n@@@      <td>Mel Brooks</td>\n@@@      <td>116900000</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>9806</th>\n@@@      <td>1975</td>\n@@@      <td>Jaws</td>\n@@@      <td>Horror|Thriller|Adventure</td>\n@@@      <td>Steven Spielberg</td>\n@@@      <td>463654000</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>10208</th>\n@@@      <td>1976</td>\n@@@      <td>A Star Is Born</td>\n@@@      <td>Drama|Music|Romance</td>\n@@@      <td>Frank Pierson</td>\n@@@      <td>155000000</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>1329</th>\n@@@      <td>1977</td>\n@@@      <td>Star Wars</td>\n@@@      <td>Adventure|Action|Science Fiction</td>\n@@@      <td>George Lucas</td>\n@@@      <td>764398007</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>10758</th>\n@@@      <td>1978</td>\n@@@      <td>Superman</td>\n@@@      <td>Adventure|Fantasy|Action|Science Fiction</td>\n@@@      <td>Richard Donner</td>\n@@@      <td>245218018</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>7833</th>\n@@@      <td>1979</td>\n@@@      <td>Rocky II</td>\n@@@      <td>Drama</td>\n@@@      <td>Sylvester Stallone</td>\n@@@      <td>193182160</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>7309</th>\n@@@      <td>1980</td>\n@@@      <td>The Empire Strikes Back</td>\n@@@      <td>Adventure|Action|Science Fiction</td>\n@@@      <td>Irvin Kershner</td>\n@@@      <td>520400000</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>8375</th>\n@@@      <td>1981</td>\n@@@      <td>Raiders of the Lost Ark</td>\n@@@      <td>Adventure|Action</td>\n@@@      <td>Steven Spielberg</td>\n@@@      <td>371925971</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>8889</th>\n@@@      <td>1982</td>\n@@@      <td>E.T. the Extra-Terrestrial</td>\n@@@      <td>Science Fiction|Adventure|Family|Fantasy</td>\n@@@      <td>Steven Spielberg</td>\n@@@      <td>782410554</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>7987</th>\n@@@      <td>1983</td>\n@@@      <td>Return of the Jedi</td>\n@@@      <td>Adventure|Action|Science Fiction</td>\n@@@      <td>Richard Marquand</td>\n@@@      <td>540350000</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>7883</th>\n@@@      <td>1984</td>\n@@@      <td>Indiana Jones and the Temple of Doom</td>\n@@@      <td>Adventure|Action</td>\n@@@      <td>Steven Spielberg</td>\n@@@      <td>305000000</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>6081</th>\n@@@      <td>1985</td>\n@@@      <td>Back to the Future</td>\n@@@      <td>Adventure|Comedy|Science Fiction|Family</td>\n@@@      <td>Robert Zemeckis</td>\n@@@      <td>362109762</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>10475</th>\n@@@      <td>1986</td>\n@@@      <td>Top Gun</td>\n@@@      <td>Drama|Action|Romance</td>\n@@@      <td>Tony Scott</td>\n@@@      <td>341830601</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>9613</th>\n@@@      <td>1987</td>\n@@@      <td>Fatal Attraction</td>\n@@@      <td>Horror|Drama|Romance|Thriller</td>\n@@@      <td>Adrian Lyne</td>\n@@@      <td>306145693</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>9454</th>\n@@@      <td>1988</td>\n@@@      <td>Rain Man</td>\n@@@      <td>Drama</td>\n@@@      <td>Barry Levinson</td>\n@@@      <td>329825435</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>9180</th>\n@@@      <td>1989</td>\n@@@      <td>Indiana Jones and the Last Crusade</td>\n@@@      <td>Adventure|Action</td>\n@@@      <td>Steven Spielberg</td>\n@@@      <td>426171806</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>9986</th>\n@@@      <td>1990</td>\n@@@      <td>Ghost</td>\n@@@      <td>Fantasy|Drama|Thriller|Mystery|Romance</td>\n@@@      <td>Jerry Zucker</td>\n@@@      <td>483000000</td>\n@@@    </tr>\n@@@    <tr>\n@@@      <th>9317</th>\n@@@      <td>1991</td>\n@@@      <td>Terminator 2: Judgment Day</td>\n@@@      <td>Action|Thriller|S

In [15]:
#use this below to split at @@@ and then save it to a md file
lines=content_joined.split('@@@')

In [26]:
### use this to write the files back
with open(markdown_name, 'w') as filehandle:  
    filehandle.writelines("%s" % place for place in lines)
    #code below will add a line break
    #filehandle.writelines("%s\n" % place for place in places_list)

In [18]:
#copy image files to the images/movie_data_eda subfoler

#define source and destination
source=os.listdir(images_folder_name)
destination='git_page/images/'+subfolder_name


#works
for files in source:
    if files.endswith(".png"):
        shutil.copy(images_folder_name+'/'+files,destination)
        #print(files)

In [27]:
#copy md file to git_page folder
#source='markdown/project_03_01.md'
#destination='git_page/'
#shutil.copy(source, destination)

source=markdown_name
destination='git_page/'
shutil.copy(source, destination)

'git_page/project_03_01.md'

In [30]:
#delete the images folder that is OUTSIDE the git_page folder
shutil.rmtree(images_folder_name) #remove folder
#delete the markdonw file that is OUTSIDE the git_page folder
os.remove(markdown_name) #remove file

In [ ]:
###################################################################

In [ ]:
#subfolder_name='movies_db'

#replace the image names with proper links+names
for i in image_names:
    #generate new links for md file
    updated_image_link='images/'+subfolder_name+'/'+i
    #replace the image name with proper image link
    content_joined=content_joined.replace(i,updated_image_link)

In [ ]:
content_joined

In [ ]:
#use this below to split at @@@ and then save it to a md file
lines=content_joined.split('@@@')

In [ ]:
lines

## Reference
https://stackoverflow.com/questions/14325654/how-to-use-python-markdown-to-process-a-file-that-is-read-in
https://stackoverflow.com/questions/3207219/how-do-i-list-all-files-of-a-directory
https://stackoverflow.com/questions/14560863/python-join-with-newline
https://stackoverflow.com/questions/743806/how-to-split-a-string-into-a-list
https://stackabuse.com/reading-and-writing-lists-to-a-file-in-python/
https://stackoverflow.com/questions/6996603/delete-a-file-or-folder
https://stackoverflow.com/questions/5214578/python-print-string-to-text-file
https://stackoverflow.com/questions/89228/calling-an-external-command-in-python

In [ ]:
#import markdown
#import glob

In [ ]:
# Open the file with read only permit
f = open(markdown_name, "r")
# use readlines to read all lines in the file
# The variable "lines" is a list containing all lines in the file
lines = f.readlines()
# close the file after reading the lines.
f.close()

In [ ]:
lines

In [ ]:
### use this to write the files back
with open('listfile.md', 'w') as filehandle:  
    filehandle.writelines("%s" % place for place in lines)

    #code below will add a line break
    #filehandle.writelines("%s\n" % place for place in places_list)

In [ ]:
#get a list of only image names in sub directory
image_links = [f for f in glob.glob("markdown\*.png")]

#image_links

In [ ]:
#from the image_links, only save the image names
#save just the image names to a list
image_names=[]
for i in image_links:
    image_names.append(i.replace('markdown\\',''))

#image_names

In [ ]:
#join the all the element sin lines list witn @@@ at the end of each line to perform operations
content_joined="@@@".join(lines)

#use this below to split at @@@ and then save it to a md file
#content_joined.split('@@@')

In [ ]:
subfolder_name='movies_db'

#replace the image names with proper links+names
for i in image_names:
    #generate new links for md file
    updated_image_link='images/'+subfolder_name+'/'+i
    #replace the image name with proper image link
    content_joined=content_joined.replace(i,updated_image_link)

In [ ]:
#use this below to split at @@@ and then save it to a md file
lines=content_joined.split('@@@')

In [ ]:
#lines

In [ ]:
### use this to write the files back
with open('listfile.md', 'w') as filehandle:  
    filehandle.writelines("%s" % place for place in lines)
    #code below will add a line break
    #filehandle.writelines("%s\n" % place for place in places_list)

In [ ]:
import os #create directory
import shutil #copy files

In [ ]:
def create_dir(directory):
    if not os.path.exists(directory):
        print('Creating Directory '+directory)
        os.makedirs(directory)

In [ ]:
#create the directory structure
create_dir('git_page/images/movie_data_eda')

In [ ]:
#this works, use it as reference (also works /)
#source='D:\\git_website\\Udacity\\Data_Analyst_Nanodegree\\Term_01\\Project_03\\test\\markdown\\output_10_0.png'
#destination='D:\\git_website\\Udacity\\Data_Analyst_Nanodegree\\Term_01\\Project_03\\test\\git_page\\images\\movie_data_eda'
#shutil.copy(source, destination)

In [ ]:
#copy image files to the images/movie_data_eda subfoler

#define source and destination
source=os.listdir("markdown/")
destination="git_page/images/movie_data_eda"

#works
for files in source:
    if files.endswith(".png"):
        shutil.copy('markdown/'+files,destination)

In [ ]:
#copy md file to git_page folder
source='markdown/project_03_01.md'
destination='git_page/'
shutil.copy(source, destination)

In [ ]:
#delete the markdown folder
shutil.rmtree('markdown')